<!-- <div class="page-responce500">
    <div class="img-responce">
        <img class="" src="assets/images/responce 500.png">
    </div>    
</div> -->
<!-- <div class="dialog-page">
    
    <div class="dialog" >
        
        <div class="img-responce">
            <img class="" src="assets/images/responce 500.png">
        </div> 
        

    </div>
    
</div> -->


<div class="page-responce500">
    <div class="page-responce-container">
        <div class="img-responce">
            <img class="" src="assets/images/responce 500.png">
        </div> 
    </div>
</div>