<section class="info-section">
    <div class="info-section__container">        
        <span class="info-section__value">{{duration}}</span>
        <span>duration</span>
    </div>
    <div class="info-section__container">
        <span class="info-section__value">{{areaOf}}</span>
        <span>areaOf</span>
    </div>
    <div class="info-section__container">
        <span class="info-section__value">{{investments}}</span>
        <span>investments</span>
    </div>
    <div class="info-section__container">
        <span class="info-section__value">{{geography}}</span>
        <span>geography</span>
    </div>
</section>