


.active-header{
    @apply cursor-pointer;
    
}

.table-container{
  height: 800px;
  transition: 0.3s;
  transform: translateY(0%);
}

.table-container-active{
  transform: translateY(400px)
}

.product-item:hover{
    @apply bg-blue-200;
    @apply cursor-auto;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: white transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .detailed-search-container{
    position: relative;     
    //background-color: aqua;       
  }
  .detailed-search{
    position: absolute;
    @apply invisible; 
    @apply w-full;   
    //top:0;
    //left: 0;
    //width: 100%;
    transition: 0.3s;
    transform: translateY(-100%);
    opacity: 0;    
    //@apply flex;
    //@apply text-white font-bold;
    //@apply w-full;
    //@apply mr-80;
  }

  .detailed-search-active{
    width: 100%;
    @apply visible;
    transform: translateY(0);
    opacity: 1;
    @apply pr-16;
  }

  .filter-price-active:hover{
    @apply border-2 border-blue-500;
  }