


<div *ngIf="pageState.isActive else toMoveNextPage" class="h-full">


  <div class="product-container my-2 py-2  sm:-mx-6 sm:px-6 lg:-mx-8 pr-10 lg:px-8">
    
    <div class="align-middle rounded-tl-lg rounded-tr-lg inline-block w-full py-4 overflow-hidden bg-white shadow-lg px-12">
        <div class="flex justify-between">
            <div class="inline-flex border rounded w-7/12 px-2 lg:px-6 h-12 bg-transparent">
                <div class="flex flex-wrap items-stretch w-full h-full mb-6 relative">

                    <input 
                      type="text" 
                      class="flex-shrink flex-grow flex-auto leading-normal tracking-wide w-px flex-1 border border-none border-l-0 rounded  px-3 relative focus:outline-none text-xxs lg:text-xs lg:text-base text-gray-500 font-thin" 
                      placeholder="Search"
                      [(ngModel)]="search"
                      (ngModelChange)="startSearch()"
                    >
                </div>
            </div>
            <div 
              class="flex justify-end"
            >
              <button 
                  class="px-8 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
                  (click)="toggleDetailedSearch()"    
                  type="button"
              >
                detailed search
              </button>
            </div>
        </div>
    </div>
    <div 
      class="detailed-search-container align-middle w-full py-4 px-12 "
    >
      <div 
        class="detailed-search"
        [ngClass]="{'detailed-search-active':isOpenDetailedSearch}"
        
      >
        <div class="w-full">
          <form 
            class="w-full space-y-4"
            #filterForm="ngForm"
          >
            <div class="flex gap-x-4">
              <div class="flex-1 w-1/3">
                <div class="pl-2">regions</div>
                <select 
                    class="appearance-none rounded-md w-full mt-1"
                    [(ngModel)]=productFilterForm.regionId
                    name="regions"
                    (change)="changeFilterRegion()"
                >
                    <option
                        class=" text-xs font-ligth text-gray-700"
                        *ngFor="let region of regions" 
                        [value]="region.id"
                        name="region"                   
                    >
                        {{region.title}}
                    </option>
                </select>
              </div>
              <div class="flex-1 w-1/3">
                <div class="pl-2">factories</div>
                
                <select 
                    class="appearance-none rounded-md w-full mt-1"
                    [(ngModel)]=productFilterForm.factoryId
                    name="factories"
                    (change)="changeFilterFactory()"              
                    
                >
                    <option
                        class="appearance-none text-xs font-ligth text-grey-700"
                        *ngFor="let factory of factories" 
                        
                        [value]="factory.id"                  
                        name="factory" 

                    >
                        {{factory.title}}
                    </option>
                </select>
                
              </div>
              <div class="flex-1 w-1/3">
                <div class="pl-2">storages</div>
                <select 
                    class="appearance-none rounded-md w-full mt-1"
                    [(ngModel)]=productFilterForm.storageId
                    name="storages"
                >
                    <option
                        class="appearance-none text-xs font-ligth text-grey-700"
                        *ngFor="let storage of storages" 
                        [value]="storage.id"
                        name="storage"                   
                    >
                      {{storage.title}}
                    </option>
                </select>
              </div>
            </div>
            <div class="flex gap-x-4">
              <div class="flex-1 w-1/3">
                <div class="pl-2">manufacturers</div>
                <select 
                    class="appearance-none rounded-md w-full mt-1"
                    [(ngModel)]=productFilterForm.manufacturerId
                    name="manufacturers"
                    
                >
                    <option
                        class="appearance-none text-xs font-ligth text-gray-700"
                        *ngFor="let manufacturer of manufacturers" 
                        [value]="manufacturer.id"
                        name="manufacturer"                   
                    >
                        {{manufacturer.title}}
                    </option>
                </select>
              </div>
              <div class="flex-1 w-1/3">
                <div class="pl-2">categories</div>
                <select 
                    class="appearance-none rounded-md w-full mt-1"
                    [(ngModel)]=productFilterForm.categoryId
                    name="categories"
                    
                >
                    <option
                        class="appearance-none text-xs font-ligth text-gray-700"
                        *ngFor="let category of categories" 
                        [value]="category.id"
                        name="category"                   
                    >
                        {{category.title}}
                    </option>
                </select>
              </div>
              <div class="flex-1 w-1/3">
                <div class="pl-2">units</div>
                <select 
                    class="appearance-none rounded-md w-full mt-1"
                    [(ngModel)]=productFilterForm.unitId
                    name="categories"
                    
                >
                    <option
                        class="appearance-none text-xs font-ligth text-gray-700"
                        *ngFor="let unit of units" 
                        [value]="unit.id"
                        name="unit"                   
                    >
                        {{unit.title}}
                    </option>
                </select>
              </div>
            </div>
            <div class="flex gap-x-4 juctify-center">
              <div class="flex-1 w-1/3 juctify-center space-y-4 border-2 border-gray-400 rounded-md filter-price-active">
                <div class="text-center">count</div>
                <div class="flex-col px-2">
                  <div class="flex py-2">
                    <div class="flex-none w-1/4 my-auto">
                      <span >start : </span>
                    </div>
                    <div class="flex-none w-1/2 flex justify-items-center">
                      <input
                        class="w-full"
                        type="range"
                        min="0"
                        max="10000"
                        [(ngModel)]="productFilterForm.startCount"
                        name="startCount"
                        (ngModelChange)="changeFilterStartCount($event)"
                      >
                    </div>
                    <div class="flex-none w-1/4 pl-2">
                      <span>{{productFilterForm.startCount}}</span>
                    </div>
                    
                  </div>
                  <div class="flex py-2">
                    <div class="flex-none w-1/4 my-auto">
                      <span >end : </span>
                    </div>
                    <div class="flex-none w-1/2 flex justify-items-center">
                      <input
                        class="w-full"
                        type="range"
                        min="0"
                        max="10000"
                        [(ngModel)]="productFilterForm.endCount"
                        name="endCount"
                        (ngModelChange)="changeFilterEndCount($event)"
                      >
                    </div>
                    <div class="flex-none w-1/4 pl-2">
                      <span>{{productFilterForm.endCount}}</span>
                    </div>
                    
                  </div>
                  
                </div>
              </div>
              <div class="flex-1 w-1/3 juctify-center space-y-4 border-2 border-gray-400 rounded-md filter-price-active">
                <div class="text-center">price</div>
                <div class="flex-col px-2">
                  <div class="flex py-2">
                    <div class="flex-none w-1/4 my-auto">
                      <span >start : </span>
                    </div>
                    <div class="flex-none w-1/2 flex justify-items-center">
                      <input
                        class="w-full"
                        type="range"
                        min="0"
                        max="10000"
                        [(ngModel)]="productFilterForm.startPrice"
                        name="startPrice"
                        (ngModelChange)="changeFilterStartPrice($event)"
                      >
                    </div>
                    <div class="flex-none w-1/4 pl-2">
                      <span>{{productFilterForm.startPrice}}</span>
                    </div>
                    
                  </div>
                  <div class="flex py-2">
                    <div class="flex-none w-1/4 my-auto">
                      <span >start : </span>
                    </div>
                    <div class="flex-none w-1/2 flex justify-items-center">
                      <input
                        class="w-full"
                        type="range"
                        min="0"
                        max="10000"
                        [(ngModel)]="productFilterForm.endPrice"
                        name="endPrice"
                        (ngModelChange)="changeFilterEndPrice($event)"
                      >
                    </div>
                    <div class="flex-none w-1/4 pl-2">
                      <span>{{productFilterForm.endPrice}}</span>
                    </div>
                    
                  </div>
                  
                </div>
                
                
              </div>
              <div class="flex-1 w-1/3">            
              </div>
            </div>
            <div class="flex justify-around">
              <div>
                <button 
                  class="px-8 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
                  (click)="onSubmitFilter()"
                >
                  apply
                </button>
              </div>
              <div>
                <button
                  class="px-8 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
                  (click)="clearFilterForm()"
                >
                  clear
                </button>
              </div>
              <div>
                <button
                  class="px-8 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
                >
                  apply and save
                </button>
              </div>
            </div>
          </form>
        </div>
        
        
      </div>
      
    </div>
    <div class="h-full">
      <div 
        class="table-container min-w-full shadow overflow-y-scroll bg-white shadow-dashboard px-8  rounded-bl-lg rounded-br-lg"
        [ngClass]="{'table-container-active':isOpenDetailedSearch}"
      >
        
          <table class="min-w-full">
            <thead>
                <tr>
                  
                    <th           
                      class="sticky top-0 h-16 px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-white bg-blue-900 tracking-wider"
                      *ngFor="let header of headersTable"
                      (click)=sortCol(header)
                      [ngClass]="{'active-header':header.isActive}"
                    >
                    
                      <div [ngClass]="{'tooltip':header.isActive}">
                        <span>
                          {{header.title}}
                        </span>
                        <span 
                          class="tooltiptext"
                          *ngIf="header.isActive"
                        >sort by</span>
                      </div>
                    
                  </th>    
                </tr>
            </thead>
            <tbody class="bg-white">
              <tr app-product-item  
                class="product-item"     
                *ngFor="let productInfo of filterProductsInfo let i=index"
                [ngClass]="{'product-item-warning':productInfo.isBanned}"
                [numProduct]="i+1"
                [productInfo]="productInfo" 
                [avaiablesPermissions]="avaiablesPermissions"
                (edit)="startEdit(productInfo)"
                (remove)="remove(productInfo)"
                (openProductInfo) = "openProductInfo(productInfo)"        
              >  
              </tr>                 
            </tbody>
          </table>
      </div>
    </div>
  </div>

</div> 


<!-- <div class="h-full bg-green-500">
    <div class="h-full">aaa</div>
</div> -->


<ng-template #toMoveNextPage>
  <div class="h-full">

  
  <div [ngSwitch]="pageState.path"
    class="h-full"
  >
    <app-edit-product
      class="h-full"
      *ngSwitchCase="'editProduct'"
      [newProductForm]="newProductForm"
      (updateProduct)="update($event)"
      (close)="closeEditPage()"
    >     
    </app-edit-product> 
    
    <app-loading-page
      class="h-full"
      *ngSwitchCase="'loadingPage'"
      [title]="'products'"
    >
    </app-loading-page> 
    <app-responce500
      *ngSwitchCase="'responce500'"
      
    >
    </app-responce500>
    <app-product-item-info
      *ngSwitchCase="'productInfo'"
      [product]="selectedProduct"
      (close)="closeProductInfo()"
    >
    </app-product-item-info>
  </div>
  </div>
</ng-template>

<ng-template #showTitleStorage>
  <h1>{{storages[0].title}}</h1>
</ng-template>

<ng-template #showTitleFactory>
  <h1>{{factories[0].title}}</h1>
</ng-template>

<ng-template #showTitleRegion>
  <h1>{{regions[0].title}}</h1>
</ng-template>


