<!-- 
<div class="flex flex-col h-full " *ngIf="pageState.isActive else toMoveNextPage">
  <div>
    <h1>regions</h1>
  </div>
  <div *ngIf="regions.length>1 else showTitleRegion">
    <h1>{{regions.length}}</h1>
  </div>
  <div>
    <h1>factories</h1>
  </div>
  <div *ngIf="factories.length>1 else showTitleFactory">
    <h1>{{factories.length}}</h1>
  </div>
  <div>
    <h1>storages</h1>
  </div>
  <div *ngIf="storages.length>1 else showTitleStorage">
    <h1>{{storages.length}}</h1>
  </div>
  
  <div class="flex overflow-auto">
    <table class="relative w-full border table">
      <thead>
        <tr>
          <th           
            class="sticky top-0 px-6 py-3 text-red-900 bg-red-300 header"
            *ngFor="let header of headersTable"
            (click)=sortCol(header)
            [ngClass]="{'active-header':header.isActive}"
          >
            
              {{header.title}}
            
          </th>    
          
        </tr>
      </thead>
      <tbody class="divide-y bg-red-100">
        <tr app-product-item       
          *ngFor="let productInfo of productsInfo let i=index"
          [ngClass]="{'product-item-warning':productInfo.isBanned}"
          [numProduct]="i+1"
          [productInfo]="productInfo" 
          [avaiablesPermissions]="avaiablesPermissions"
          (edit)="startEdit(productInfo)"
          (remove)="remove(productInfo)"
          (openProductInfo) = "openProductInfo(productInfo)"        
        >  
        </tr>    
      </tbody>
    </table>
  </div>
</div>             -->

<ng-template #toMoveNextPage>
  <div [ngSwitch]="pageState.path"
  class="h-full" >
    <app-edit-product
      *ngSwitchCase="'editProduct'"
      [newProductForm]="newProductForm"
      (updateProduct)="update($event)"
      (close)="closeEditPage()"
    >     
    </app-edit-product> 
    <app-loading-page
      *ngSwitchCase="'loadingPage'"
      [title]="'products'"
    >
    </app-loading-page> 
    <app-responce500
      *ngSwitchCase="'responce500'"
      
    >
    </app-responce500>
    <app-product-item-info
      *ngSwitchCase="'productInfo'"
      [product]="selectedProduct"
      (close)="closeProductInfo()"
    >
    </app-product-item-info>
  </div>
</ng-template>

<ng-template #showTitleStorage>
  <h1>{{storages[0].title}}</h1>
</ng-template>

<ng-template #showTitleFactory>
  <h1>{{factories[0].title}}</h1>
</ng-template>

<ng-template #showTitleRegion>
  <h1>{{regions[0].title}}</h1>
</ng-template>


<!-- component -->
<div *ngIf="pageState.isActive else toMoveNextPage">


  <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 pr-10 lg:px-8">
    <div class="align-middle rounded-tl-lg rounded-tr-lg inline-block w-full py-4 overflow-hidden bg-white shadow-lg px-12">
        <div class="flex justify-between">
            <div class="inline-flex border rounded w-7/12 px-2 lg:px-6 h-12 bg-transparent">
                <div class="flex flex-wrap items-stretch w-full h-full mb-6 relative">
                    <div class="flex">
                        <span class="flex items-center leading-normal bg-transparent rounded rounded-r-none border border-r-0 border-none lg:px-3 py-2 whitespace-no-wrap text-grey-dark text-sm">
                            <svg width="18" height="18" class="w-4 lg:w-auto" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.11086 15.2217C12.0381 15.2217 15.2217 12.0381 15.2217 8.11086C15.2217 4.18364 12.0381 1 8.11086 1C4.18364 1 1 4.18364 1 8.11086C1 12.0381 4.18364 15.2217 8.11086 15.2217Z" stroke="#455A64" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M16.9993 16.9993L13.1328 13.1328" stroke="#455A64" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                    </div>
                    <input type="text" class="flex-shrink flex-grow flex-auto leading-normal tracking-wide w-px flex-1 border border-none border-l-0 rounded  px-3 relative focus:outline-none text-xxs lg:text-xs lg:text-base text-gray-500 font-thin" placeholder="Search">
                </div>
            </div>
        </div>
    </div>
    <div class="pt-4 align-middle inline-block min-w-full shadow overflow-hidden bg-white shadow-dashboard px-8 pt-3 rounded-bl-lg rounded-br-lg">
      <!-- relative -->
          <table class="min-w-full">
            <thead>
                <tr>
                  <!-- sticky top-0 -->
                    <th           
                      class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider"
                      *ngFor="let header of headersTable"
                      (click)=sortCol(header)
                      [ngClass]="{'active-header':header.isActive}"
                    >
                    
                      <div [ngClass]="{'tooltip':header.isActive}">
                        <span>
                          {{header.title}}
                        </span>
                        <span 
                          class="tooltiptext"
                          *ngIf="header.isActive"
                        >sort by</span>
                      </div>
                    
                  </th>    
                </tr>
            </thead>
            <tbody class="bg-white">
              <tr app-product-item  
                class="product-item"     
                *ngFor="let productInfo of productsInfo let i=index"
                [ngClass]="{'product-item-warning':productInfo.isBanned}"
                [numProduct]="i+1"
                [productInfo]="productInfo" 
                [avaiablesPermissions]="avaiablesPermissions"
                (edit)="startEdit(productInfo)"
                (remove)="remove(productInfo)"
                (openProductInfo) = "openProductInfo(productInfo)"        
              >  
              </tr>                 
            </tbody>
        </table>
      </div>
    </div>

</div>
  <!-- class="px-6 py-4 whitespace-no-wrap border-b border-gray-500" -->