<td class="user-counter" (click)="openUserInfoDialog()">
    {{numUser}}
</td>
<td class="user-item" (click)="openUserInfoDialog()">
    {{userInfo.username}}
</td>
<td class="user-item" (click)="openUserInfoDialog()">
    {{userInfo.employee.lastname}} {{userInfo.employee.firstname}}
</td>
<td class="user-item" (click)="openUserInfoDialog()">
    {{userInfo.department.title}}
</td>
<td 
    class="action-btn"
    *ngIf="avaiablePermissions.canUpdate"  
>    
    <button class="btn" (click)="editUser()">✏️</button>   
</td>

<td 
    class="action-btn"
    *ngIf="avaiablePermissions.canDelete"
>    
    <button class="btn" (click)="removeUser()">❌</button>       
</td>