<td 
    class="px-6 py-4 whitespace-no-wrap border-b border-gray-500" 
    [ngClass]="{'warning':userInfo.isBanned}"
>
    {{numUser}}
</td>
<td 
    class="px-6 py-4 whitespace-no-wrap border-b border-gray-500" 
    [ngClass]="{'warning':userInfo.isBanned}"    
>
    {{userInfo.username}}
</td>
<td 
    class="px-6 py-4 whitespace-no-wrap border-b border-gray-500"   
    [ngClass]="{'warning':userInfo.isBanned}"
>
    {{userInfo.employee.lastname}} {{userInfo.employee.firstname}}
</td>
<td 
    class="px-6 py-4 whitespace-no-wrap border-b border-gray-500"
    [ngClass]="{'warning':userInfo.isBanned}"
>
    {{userInfo.department.title}}
</td>
<td 
    class="px-6 py-4 whitespace-no-wrap border-b border-gray-500"
    *ngIf="avaiablePermissions.canRead"
    [ngClass]="{'warning':userInfo.isBanned}"    
>   
    <button 
        (click)="openUserInfoDialog()"
        *ngIf="!userInfo.isBanned else unLockEdit"
        
    >
        👁️
    </button>   
</td>
<td 
    class="px-6 py-4 whitespace-no-wrap border-b border-gray-500"
    *ngIf="avaiablePermissions.canUpdate"
    [ngClass]="{'warning':userInfo.isBanned}"
>   
    <button 
        (click)="editUser()"
        *ngIf="!userInfo.isBanned else unLockEdit"
        
    >
        ✏️
    </button>   
</td>

<td 
    class="px-6 py-4 whitespace-no-wrap border-b border-gray-500"
    *ngIf="avaiablePermissions.canDelete"
    [ngClass]="{'warning':userInfo.isBanned}"
>    
    <button 
        class="btn" 
        (click)="removeUser()"
        *ngIf="!userInfo.isBanned else unLock"
    >❌</button>       
</td>

<ng-template #unLock>
    <button class="btn" (click)="removeUser()">🔓</button>
</ng-template>

<ng-template #unLockEdit>
    <div>
        🚫
    </div>
</ng-template>