
<div class="filter-by-title-container">
    <input 
        type="text" 
        class="input-filter"
        placeholder="Search"
        [(ngModel)]="search"
        (ngModelChange)="startSearch()"             
        
    >

    <button class="btn-reset"
        [ngClass]="{'non-active-clear-btn':isEmptySearch()}"
        *ngIf="isComplitedSearch else showProccessLoading"
        (click)="clearSearch()"
    >
        <span class="animation-btn"></span>
    </button>
</div>
    
<ng-template #showProccessLoading>
    
    <div class="animation-loading-container">
        <span class="animation-loading"></span>
    </div>
</ng-template>
    
   
    


