
<input 
    type="text" 
    class="flex-shrink flex-grow flex-auto leading-normal tracking-wide w-px flex-1 border border-none border-l-0 rounded  px-3 relative focus:outline-none  text-xxs lg:text-xs lg:text-base text-gray-500 font-thin"
    placeholder="Search"
    [(ngModel)]="search"
    (ngModelChange)="startSearch()"             
    
>

<button       
    class="-ml-6 my-auto w-6 h-6 relative rounded-md"
    [ngClass]="{'non-active-clear-btn':isEmptySearch()}"
    (click)="clearSearch()"
> <span class="animation-btn"></span></button>
    
   
    


