<!-- <p>product page working</p> -->
<!-- <app-warning-modal
    *ngIf="isShowModal"
    [modalInfo]="modal"
    (answer)="answerModal($event)"
></app-warning-modal> -->

<router-outlet></router-outlet>

<!-- <div *ngIf="isLoadProductPage">
    <div class="z-50 fixed opacity-50 top-0 right-0 h-screen w-full flex my-auto bg-gray-200">
        <div class="flex w-160 h-96 bg-black"></div>
    </div>
</div> -->

<!-- <div *ngIf="isLoadProductPage">
    
    <button class="bg-red-500">Get started</button>
</div> -->