.template-manager-container{      

    .template-manager{  
        @apply        
            h-full
            w-full
            flex flex-col;     
        
// button exit container
        .btn-section{
            @apply flex-none flex justify-end mx-2 py-2;

                                
            .btn{
                @apply 
                    border-2 border-red-600
                    bg-red-300
                    rounded;
            }

            .btn:hover{
                @apply bg-red-600;
            }

            .btn:focus{
                @apply outline-none ring-2 ring-offset-2 ring-red-600;
                
            }
        }

        .btn-section-fixed{
            @apply fixed right-0 top-service-title-short md:top-service-title;
        }

// button close container
    .btn-close-container{
        @apply 
            z-50
            fixed top-service-title mt-1 right-2
            flex justify-end 
            pr-1;

        .btn-close{
            @apply 
                relative 
                rounded-full 
                h-12 w-12 
                border-2 border-transparent 
                bg-blue-600
                sm:bg-white
                hover:bg-white;

                // btn animate
                .btn-animate::before,
                .btn-animate::after{
                    @apply
                        absolute top-1/2 right-1/2  -mt-0.25 -mr-2.5
                        bg-white w-5 h-0.5
                        sm:bg-gray-500;
                }

                .btn-animate::before,
                .btn-animate::after{
                    content: "";
                }

                .btn-animate::before{
                    @apply transform rotate-45 origin-center;
                }

                .btn-animate::after{
                    @apply transform -rotate-45 origin-center;
                } 
                
                
        }

        .btn-close:hover{
            .btn-animate::before,
            .btn-animate::after{
                @apply bg-red-600;
            }
        }
    }

// list templates
        .list-templates{
            
            @apply 
                flex-1
                space-y-2
                p-12;

            .item-list{
                @apply 
                    flex space-x-2 w-full 
                    sm:w-2/3 
                    md:w-1/2 
                    lg:w-2/3 lg:max-w-screen-sm;
                
// item title 
                .item-title{
                    @apply 
                        flex-1 flex
                        border-transparent
                        rounded-l-lg
                        px-4 py-2                        
                        text-white;

                    .title{
                        @apply flex-1;
                    }

                    .menu-container{
                        @apply flex-none flex w-6 h-6;

                        .menu{
                            @apply 
                                flex flex-col
                                m-auto
                                space-y-0.5;
                            

                            .point{
                                @apply 
                                    flex
                                    h-0.5 w-0.5
                                    rounded-full
                                    bg-white;                                
                            }
                        }
                    }                .menu-container:hover{
                        @apply bg-blue-900 rounded-full;
                    }
                }

                .item-control{
                    @apply flex-none;
                    .btn{ 
                        @apply 
                            relative
                            px-4 py-2 
                            border-2 border-transparent
                            rounded-r-lg
                            bg-green-500
                            text-white
                            transform translate-x-0 duration-300
                            hover:bg-white hover:text-green-600 hover:border-green-700
                            hover:translate-x-1;           
                    }
                }
            }
        }
    }   
}

.link {
    @apply absolute top-0 right-0 w-full h-full;
}

.selected{
    @apply bg-blue-700;
}

.non-selected{
    @apply bg-blue-500;
}
