

<div class="relative">
    
</div>


<!-- template manager page -->
<div 
    class="template-manager-container"
    *ngIf= "!isShowModal else toShowModal"
>

    <div
        class="template-manager"     
    >

        
        
        <!-- close button  -->
        <div class="btn-action-container">

            <!-- add template button -->
            <div class="btn-action">
                <button 
                    class="btn-add"
                >
                    <span class="btn-add-animate"></span>
                    <a 
                        routerLink="{{routers.NEW_TEMPLATE}}" 
                        class="link"></a>
                </button>

                <button 
                    class="btn-close" 
                    (click)="close()"
                >
                    <span class="btn-close-animate"></span>
                </button>
            </div>

            
        </div>

        <!-- list templates -->
        <div 
            class="list-templates"
            *ngIf="templates.length>0 else emptyTemplates"
        >            
            <div 
                class="item-list"                
                *ngFor="let template of templates let i=index"
            >
                <div 
                    class="item-title"  
                    [ngClass]="template.id === selected ? 'selected' : 'non-selected'"                  
                >
                    <div class="title">
                        {{template.title}}
                    </div>  
                    <button class="menu-container">
                        <div class="menu">
                            <div class="point"></div>
                            <div class="point"></div>
                            <div class="point"></div>
                        </div>                            
                    </button>                  
                </div>
                <div class="item-control">
                    <button 
                        class="btn"                                             
                    >
                        apply
                        <a
                            routerLink="{{routers.TABLE}}" 
                            [state]="{template:template}" 
                            class="link"
                        ></a>  
                    </button>                                              
                </div>                
            </div>            
        </div>
    </div>   
</div>

<!-- modal  -->
<ng-template #toShowModal>
    <app-warning-modal 

        *ngIf="isShowModal"
        [modalInfo]="modalInfo"
        (answer)="answerModal($event)"
    >

    </app-warning-modal>
</ng-template>

<ng-template #emptyTemplates>
   <div class="info-container">    
        Sorry, You don't have any templates yet!!!
   </div>
</ng-template>

