




<!-- template manager page -->
<div 
    class="template-manager-container"
    *ngIf= "!isShowModal else toShowModal"
>

    <div
        class="template-manager"     
    >
        <!-- close button  -->
        <div class="btn-close-container">
            <button 
                class="btn-close" 
            >
                <span class="btn-animate"></span>
                <a
                    routerLink="{{routers.TABLE}}"
                    class="link"
                ></a>
            </button>
        </div>

        <!-- list templates -->
        <div class="list-templates ">
            <div 
                class="item-list"
                *ngFor="let template of templates let i=index"
            >
                <div class="item-title">
                    <div class="title">
                        {{template.title}}
                    </div>  
                    <button class="menu-container">
                        <div class="menu">
                            <div class="point"></div>
                            <div class="point"></div>
                            <div class="point"></div>
                        </div>                            
                    </button>                  
                </div>
                <div class="item-control">
                    <button 
                        class="btn"
                        (click)="apply(i)"                           
                    >
                        apply
                        <a
                            routerLink="{{routers.TABLE}}" 
                            [state]="{template:template}" 
                            class="link"
                        ></a>  
                    </button>                                              
                </div>                
            </div>
        </div>
    </div>   
</div>

<!-- modal  -->
<ng-template #toShowModal>
    <app-warning-modal 

        *ngIf="isShowModal"
        [modalInfo]="modalInfo"
        (answer)="answerModal($event)"
    >

    </app-warning-modal>
</ng-template>

