<!-- 
<div class="flex">

    <div 
        class="mobile-menu flex"
        
        [ngClass]="{'mobile-menu-active':mobileMenuOpen}"
    >
        
        
        <ul class=" p-4 pt-24 space-y-4">
            <li>
                <a routerLink="" 
                    class="active-link"
                    (click)="toggleMobileMenu()">
                    main
                </a>
            </li>
            <li 
                *ngIf="isLogin"
            >
                <a routerLink="roleSelector" 
                    class="active-link"
                    (click)="toggleMobileMenu()"
                >
                    services
                </a>
            </li>
            <li (click)="toggleMobileMenu()">
                <a routerLink="loginForm" 
                    class="active-link"
                    *ngIf="!isLogin; else logout"
                    
                >
                    sing in
                </a>                
            </li>
        </ul>
    </div>
    <div 
        class="flex-1 container-main-page overflow-hidden"
        [ngClass]="{'container-main-page-active':mobileMenuOpen}"
    >
        <div [ngClass]="{'main-page-container-fixed': isShortMainPage}">
            <div 
                class="flex flex-col container-cover "
                *ngIf="!isShortMainPage else setShortMainPage"
                style="background-image: url('../../assets/images/mainPage.jpg') "
                
            >
                <section
                    class="flex-none"
                >
                    <nav
                        class="flex items-center mt-4"
                    >
                        <div class="flex-none  ml-2 md:hidden ">
                            <button 
                                class="menu-btn"
                                (click)="toggleMobileMenu()"
                            >
                                <span 
                                    class="animation-menu-btn"
                                    [ngClass]="{'animation-menu-btn-active':mobileMenuOpen}"
                                ></span>
                            </button>
                        </div>
                        <div class="flex">
                            <div
                                class="flex-none w-48 ml-16 sm:w-48 sm:ml-16 md:w-64 md:ml-24 lg:w-96 lg:ml-36"
                                (click)="toMainPage()"
                            >
                                <img 
                                    class="" 
                                    src="assets/images/logo_main_paige.png"
                                >
                            </div>
                        </div>
                        <div 
                            class="w-full flex flex-1 justify-end text-white font-bold text-xl md:items-center hidden md:block"
                        >
                            <div class=" flex justify-end" >
                                <a routerLink="" 
                                    class="active-link block mt-4 md:inline-block md:mt-0 mr-4 border-b-2 border-transparent"
                                    (click)="toMainPage()"
                                >
                                    main
                                </a>
                                <a routerLink="roleSelector" 
                                    class="active-link block mt-4 md:inline-block md:mt-0 mr-4 border-b-2 border-transparent"
                                    *ngIf="isLogin"
                                    
                                >
                                    services
                                </a>
                                <a routerLink="loginForm" 
                                    class="active-link block mt-4 md:inline-block md:mt-0 mr-4 border-b-2 border-transparent"
                                    *ngIf="!isLogin; else logout"
                                >
                                    sign in
                                </a>
                            </div>
                        </div>
                        
                    </nav>
                </section>
                <section class="flex justify-center flex-1">
                    <div 
                        class="tag-line-container"
                        *ngIf="!isShortMainPage"
                        >
                            <div class="tag-line">
                                Let's Make Things Better
                            </div>             
                    </div>
                </section>  
                <section class="flex-none hidden md:block">
                    <div 
                        class="global-information-container"
                        *ngIf="!isShortMainPage"
                    >
                        <div class="global-information">
                            <div class="info-card-container">
                                <div class="info-card">
                                    <div class="title">
                                        Duration
                                    </div>
                                    <div class="value-unit">
                                        <div class="value">
                                            {{duration}}
                                        </div>
                                        <div class="unit">
                                            years
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="info-card">
                                    <div class="title">
                                        Area of
                                    </div>
                                    <div class="value-unit">
                                        <div class="value">
                                            {{areaOf}}
                                        </div>
                                        <div class="unit">
                                            hectares
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="info-card">
                                    <div class="title">
                                        Investments,$
                                    </div>
                                    <div class="value-unit">
                                        <div class="value">
                                            {{investments}}
                                        </div>
                                        <div class="unit">
                                            million
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="info-card">
                                    <div class="title">
                                        Geography
                                    </div>
                                    <div class="value-unit">
                                        <div class="value">
                                            {{geography}}
                                        </div>
                                        <div class="unit">
                                            countries
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div [ngClass]="{'router-container-fixed': isShortMainPage}">
                <router-outlet></router-outlet>
                <div class="footer-container"></div>
            </div>            
        </div>
    </div>
</div> 

<ng-template #setShortMainPage>
    <div class="flex h-1/5">
        <div
            class="flex-1  container-cover-short"            
            [ngClass]="{'container-main-page-active':mobileMenuOpen}"
        >
            <section
                class=""
            >
                <nav
                    class="flex w-full items-center mt-4"
                >
                    <div class="flex-none  ml-2 md:hidden ">
                        <button 
                            class="menu-btn"
                            (click)="toggleMobileMenu()"
                        >
                            <span 
                                class="animation-menu-btn"
                                [ngClass]="{'animation-menu-btn-active':mobileMenuOpen}"
                            ></span>
                        </button>
                    </div>
                    <div class="flex">
                        <div
                            class="flex-none w-48 my-4 ml-16 sm:w-48 sm:ml-16 md:w-64 md:ml-24 lg:w-96 lg:ml-36"
                            (click)="toMainPage()"
                        >
                            <img 
                                class="" 
                                src="assets/images/logo_main_paige.png"
                            >
                        </div>
                    </div>
                    <div 
                        class="w-full flex flex-1 justify-end text-white font-bold text-xl md:items-center hidden md:block"
                    >
                        <div class=" flex justify-end" >
                            <a routerLink="" 
                                class="active-link block mt-4 md:inline-block md:mt-0 mr-4 border-b-2 border-transparent"
                                (click)="toMainPage()"
                            >
                                main
                            </a>
                            <a routerLink="roleSelector" 
                                class="active-link block mt-4 md:inline-block md:mt-0 mr-4 border-b-2 border-transparent"
                                *ngIf="isLogin"
                                
                            >
                                services
                            </a>
                            <a routerLink="loginForm" 
                                class="active-link block mt-4 md:inline-block md:mt-0 mr-4 border-b-2 border-transparent"
                                *ngIf="!isLogin; else logout"
                            >
                                sign in
                            </a>
                        </div>
                    </div>
                    
                </nav>
            </section>
        </div>
    </div>
</ng-template>

<ng-template #logout>
    <a routerLink="" 
        class="active-link block mt-4 md:inline-block md:mt-0 mr-4 border-b-2 border-transparent"
        (click)=toLogout()>
        log out
    </a>
</ng-template> -->

<!-- <div 
    class="main-page-container"
    [ngClass]="{'main-page-container-fixed-size': pageSize !==pageSizes.LONG}"
    >

    
    <div 
        class="mobile-menu-container"
        [ngClass]="{'mobile-menu-container-active':isOpenMobileMenu}"
    >
        <app-mobile-menu
            *ngIf="isOpenMobileMenu"
            (close)="toggleMobileMenu()"
        ></app-mobile-menu>
    </div>

    

    <div 
        class="main-page"  
        [ngClass]="{'main-page-active':isOpenMobileMenu}"              
    >

        

        <div 
            class="main-page-header" 
            *ngIf="pageSize===pageSizes.LONG else mainPageHeaderFixed"
            style="background-image: url('../../assets/images/mainPage.jpg')"                       
        >        
            
            <div class="main-page-header-nav">
                <div 
                    class="btn-mobile-menu-container" 
                >
                    <button
                        class="btn-mobile-menu"
                        (click)="toggleMobileMenu()"                        
                    >
                        <span 
                            class="animation-menu-btn"
                            [ngClass]="{'animation-menu-btn-active':isOpenMobileMenu}"
                        ></span>
                    </button>
                </div>   
                
                
                <app-main-page-image class="header-image"></app-main-page-image>
                
                
                <div class="header-nav">cc</div>
            </div>

            
            <div class="main-page-header-info" *ngIf="pageSize===pageSizes.LONG">
                bbb
            </div>
        </div>  
        
        
        <div class="main-page-router">router</div>

        
        <div class="main-page-footer">footer</div>
    </div>
</div> -->

<!-- SHORT or MIDDLE header-container -->
<!-- <ng-template #mainPageHeaderFixed>    
    <div 
        [ngClass]="pageSize===pageSizes.MIDDLE ? 'header-nav-container-middle-size' : 'header-nav-container-short-size'"
           
    >

           
            <div 
                class="btn-mobile-menu-container" 
            >
                <button
                    class="btn-mobile-menu"
                    (click)="toggleMobileMenu()"                        
                >
                    <span 
                        class="animation-menu-btn"
                        [ngClass]="{'animation-menu-btn-active':isOpenMobileMenu}"
                    ></span>
                </button>
            </div>  
            
            
            <app-main-page-image 
                class="header-image"
                *ngIf="pageSize===pageSizes.MIDDLE"
            >
            </app-main-page-image>
            
            
            <div class="header-nav">cc</div>
        
    </div>    
</ng-template> -->


<!-- 370 [ngClass]="{'main-page-container-fixed-size' : pageSize!==pageSizes.LONG}" -->
<div 
    class="main-page-container"
    
>
    <div 
        class="mobile-menu-container"
        
    >    
        <app-mobile-menu #mobileMenu
            
        ></app-mobile-menu>
    </div>

    <!-- main page -->
    <div 
        class="main-page" 
        [ngClass]="mobileMenu.isOpened ? 'main-page-active' : 'main-page-static'"
    >

        <!-- main-page-header-container -->
        <div 
            class="main-page-header-container"
            style="background-image: url('../../assets/images/mainPage.jpg')"
        >

            <!-- header-nav-container -->
            <div class="header-nav-container">

                <!-- header nav -->
                <div class="header-nav">

                    <!-- button mobile menu -->

                    <!-- <div class="btn-mobile-menu-container">
                        <button
                            class="btn-mobile-menu"
                            (click)="toggleMobileMenu()"                        
                        >
                            <span 
                                class="animation-menu-btn"
                                [ngClass]="{'animation-menu-btn-active':isOpenMobileMenu}"
                            ></span>
                        </button>
                    </div> -->

                    <!-- nav menu container -->
                    <div class="nav-container">
                        <app-nav-menu></app-nav-menu>                        
                    </div>
                </div>
            </div>

            <!-- header-logo-container -->
            <div 
                class="header-logo-container"
            >
                logo
            </div>

            <!-- header-slogan-container -->
            <div class="header-slogan-container">
                slogan
            </div>

            <!-- header-info-contaiener -->
            <div class="header-info-container">info</div>
        </div>

        <!-- router-container -->
        <div 
            class="router-container" 
        >
            <div class="h-full"><router-outlet></router-outlet></div>
        </div>

        <!-- footer-container -->
        <div>
            <div>footer</div>
        </div>

    </div>
</div>

<!-- <div class="test w-[calc(100%-10rem)]"></div> -->

<ng-template #loadMainPageFixedSize>
    <!-- header-nav-container -->

    <div 
        class="
        header-nav-container 
        header-nav-container-fixed-size"
    >
        <div class="header-nav header-nav-fixed-size">
            <!-- <div class="btn-mobile-menu-container">
                <button
                    class="btn-mobile-menu"
                    (click)="toggleMobileMenu()"                        
                >
                    <span 
                        class="animation-menu-btn"
                        [ngClass]="{'animation-menu-btn-active':isOpenMobileMenu}"
                    ></span>
                </button>
            </div> -->
            <div class="nav-container">
                <app-nav-menu></app-nav-menu>                        
            </div>
        </div>
    </div>

    <!-- header-logo-container -->
    <!-- <div 
        class="header-logo-container"
        *ngIf="pageSize===pageSizes.MIDDLE">
        logo
    </div> -->
</ng-template>