

<div class="h-screen overflow-hidden bg-gray-300  pb-4">
    <div class="">
        <div class="container-header">
            
            <div class="main-page">
                <div >
                    <a routerLink="">Main</a>
                </div>
                <div *ngIf="isLogin">
                    <a routerLink="roleSelector">
                        Services
                    </a>
                </div> 
                <div *ngIf="!isLogin; else logout">
                    <button (click)="toLogin()">Log in</button>        
                </div>
                <div>
                    <p>language</p>
                    <select name="lang" >
                        <option></option>
                    </select>
                </div>
                <div>
                    <p>setting</p>
                    <select name="setting" >
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="h-4/5">
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #logout>
    <div>
        <button (click)=toLogout()>Log out</button>
    </div>
</ng-template>

