

.active-link:hover{
    @apply text-red-600;
    @apply border-b-2 border-red-600;
}

.container-main-page{
    transition: 0.5s;
    transform: translateX(0%);
}
.main-page-container-fixed{
    height: 100vh;
}

.router-container-fixed{
    @apply h-4/5;
}
.container-main-page-active{
    transform: translateX(30%)
}
.container-cover{
    width: full;
    height: 600px;
    
}
.container-cover-short{
    width: full;
    @apply bg-blue-900;
    transition: 0.5s;
    transform: translateX(0%);
}

.container-cover-active{
    transform: translateX(30%)
}
.logo-container{
    @apply w-48;
    @apply border-2 border-white;
}


.tag-line-container{
    @apply flex ;
    @apply text-center;
    @apply text-red-600;
    @apply text-6xl;
    @apply font-bold;
    @apply mx-2;
    .tag-line{
        @apply flex;
        @apply my-auto;
        
    }
}

.global-information-container{
    @apply flex-none;
    
    @apply pb-8;
    .global-information{
        

        

        .info-card-container{
            @apply  flex justify-evenly;
            
            @apply gap-x-9;
            
            .info-card{
                
                @apply text-red-600;
                @apply font-bold;
                

                .title{

                }
                .value-unit{
                    @apply flex;
                    @apply gap-x-2;
                }
                .value{
                    @apply text-6xl;

                }
                .unit{
                    @apply pt-2;
                    
                }
            }
        }
    }

}

.mobile-menu{  
    position: fixed;
    width: 30%;    
    height: 100%;
    @apply bg-blue-700;
    @apply text-white;
    @apply font-bold;
    left:0px;
    top: 0;
    
    @apply space-y-4;
    
    transition: 0.5s;
    transform: translateX(-100%);
}

.mobile-menu-active{    
    transform: translateX(0);
}

.menu-btn{
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: relative;

    .animation-menu-btn,
    .animation-menu-btn::before,
    .animation-menu-btn::after
    {
        position: absolute;
        height: 2px;
        width: 20px;
        top:50%; 
        left: 50%;
        margin-left: -10px;
        margin-top: -1px;
        @apply bg-blue-900;
    }
    .animation-menu-btn::before,
    .animation-menu-btn::after{
        content: "";
        transition: 0.3s;
    }
    .animation-menu-btn::before{
        transform: translateY(-5px);
    }
    .animation-menu-btn::after{
        transform: translateY(5px);
    }
    
    .animation-menu-btn-active::before{
        transform: rotate(-35deg);
        width: 10px;
        transform-origin: left bottom;
    }
    .animation-menu-btn-active::after{
        transform: rotate(35deg);
        width: 10px;
        transform-origin: left top;
    }
}