
<div *ngIf="!editUserMode else toUpdateForm">
    <table class="table">
        <tr>
          <th 
            class="header"
            *ngFor="let head of tableHeaders"
            
          >
            {{head}}
          </th>    
        </tr>
        <tr app-user-item 
            class="user-item"
            *ngFor="let userInfo of usersInfo let i=index"    
            [numUser]="i+1"
            [userInfo]="userInfo" 
            (remove)="remove(userInfo.id)"
            (edit)="edit(userInfo)"
        >  
        </tr>
    </table>
</div>

<!-- [editUser]="editUser" -->
<ng-template #toUpdateForm >
    <app-edit-user
        [editUser]="editUser"
        (updateUser)="update()"
    >
    </app-edit-user>
</ng-template>

