.info-page-container{
   @apply w-full h-full  px-12 ;


// resourses container
   .resources-container{
      @apply 
        w-full
        pb-12 border-b border-gray-800 ;     
      

// title resources container
        .title-resources-container{
            @apply w-full  flex px-4 py-8
            md:px-12 md:py-24;            

            .title-contaiener{
                @apply 
                    flex m-auto  flex-col
                    space-y-4
                    text-center;

                .title{
                    @apply  
                        text-2xl font-medium
                        md:text-5xl md:font-semibold;
                }
                .speach-title{
                    @apply 
                        text-base font-normal
                        md:text-xl md:font-medium;
                }
                
            }
        }

// list resources
        .list-resources{
            @apply 
                
                sm:space-y-24
                xl:flex flex-wrap 
                xl:justify-between 
                xl:space-y-0 
                xl:gap-y-24 ;

                

// item list container
            .item-list-container{

                @apply   
                    flex flex-col-reverse   
                     
                    
                    
                    sm:w-full 
                    sm:flex sm:flex-row 
                     
                    sm:rounded-3xl 
                    sm:overflow-hidden  

                    lg:w-2/3 lg:mx-auto              
                    xl:w-2/5;

                    //background-color: aquamarine;

                
// item description
                .item-description{

                    
                    @apply    
                        p-4                                                
                        sm:relative 
                        sm:flex-1 sm:h-72                         
                        sm:bg-regal-blue;

                    .text-description{                        
                        @apply 
                            
                            w-full 
                            sm:text-white sm:h-full;
                            
                        
                        .start-text-description{
                            @apply 
                                uppercase font-bold                                 
                                sm:pl-12
                                xl:pl-4;
                        }

                        
                    }

// button item
                    .btn-item{

                        @apply 
                            
                            px-3 sm:py-2
                            rounded-md
                            border-2 border-transparent
                            text-white text-base 
                            bg-red-600                                                                                 
                            hover:bg-white
                            hover:text-red-500  border-red-600
                            sm:absolute sm:bottom-5 sm:-right-10 
                            sm:transform translate-x-0 duration-300 
                            sm:hover:translate-x-2;
                    }
                }

                .devide-vertical-line{
                    @apply
                        w-px h-0
                        bg-red-500
                        sm:h-72
                }
// item image

                
                .item-image-container{
                    @apply 
                        w-48 h-48   bg-white mx-auto border-b-2
                        p-4
                        sm:flex-none 
                        sm:w-72 sm:h-72 
                        sm:bg-cover;                    
                        
                        
                        .item-image{
                            @apply w-full h-full bg-cover; 
                        }
                }
            }
        }
   }

// about us container
    .about-us-container{
        @apply    
            w-full h-160
            py-12  border-b border-gray-800;

        .about-us{
            @apply 
                w-full h-full                
                bg-cyan-800
                flex 
                pl-8
                sm:w-3/4 sm:pl-1/5 sm:ml-auto;

            .about-us-information-container{
                @apply flex w-full h-5/6 my-auto;               

                .devide-vertical-line{  
                    @apply
                        w-0.75 h-full
                        bg-white
                        opacity-60;  
                }
 
                .about-us-information{
                    @apply 
                        w-full h-full
                        flex flex-col 
                        px-2
                        text-white
                        sm:pl-12 sm:pr-20;

                    .title-about-us-container{
                        @apply flex-none text-xl;
                    }

                    .text-about-us-container{
                        @apply w-full h-full flex-1 py-8 text-2xl;

                        p{
                            @apply line-clamp-10;
                        }
                    }

                    .btn-about-us-container{
                        @apply flex-none flex justify-end;

                        .btn-about-us{
                            @apply                                
                                px-3 py-2 
                                rounded-md
                                border-2 border-white
                                text-white text-base 
                                bg-cyan-600                                                                                
                                hover:bg-white
                                hover:text-cyan-500 hover:border-cyan-600 
                                sm:transform translate-x-0 duration-300 
                                sm:hover:translate-x-2;
                        }
                    }


                }
            }
            
        }
    }
// contacts container
    .contacts-container{
        @apply 
            w-full h-160
            py-12 
            ;

            

        .contacts{
            @apply 
                w-full
                flex  h-full 
                bg-red-700
                pl-8
                sm:w-3/4 sm:pl-1/5;

            .contacts-information-container{
                @apply flex w-full h-5/6 my-auto;

                

                .devide-vertical-line{
                    @apply
                        w-0.75 h-full
                        bg-white
                        opacity-60;
                        
                }

                .contacts-information{
                    @apply 
                        w-full h-full 
                        flex flex-col 
                        px-2
                        sm:pl-12 sm:pr-20
                        text-white;

                    //background-color: black;

                    .title-contacts-container{
                        @apply flex-none text-xl;

                        //background-color: aqua;
                    }

                    .slogan-contacts-container{
                        @apply flex-1 flex text-6xl;

                        .slogan-contacts{
                            @apply flex my-auto;
                        }
                        //background-color: antiquewhite
                    }

                    .text-contacts-container{
                        @apply flex-1 text-2xl;
                        
                        p{
                            @apply line-clamp-5;
                        }
                    }

                    .btn-contacts-container{
                        @apply flex-none flex justify-end;

                        .btn-contacts{
                            @apply                                
                                px-3 py-2 
                                rounded-md
                                border-2 border-white
                                text-white text-base 
                                bg-red-600                                                                                 
                                hover:bg-white
                                hover:text-red-500 hover:border-red-600 
                                sm:transform translate-x-0 duration-300 
                                sm:hover:translate-x-2;
                        }

                        //background-color: black;
                    }
                }
                
            }
        }

        
        //background-color: antiquewhite;

    }

    
}

// .test{
//     width: 100px;
//     height: 100px;
//     overflow: hidden;
//     //word-break: normal;
//     //white-space: nowrap;
//     //text-overflow: ellipsis;
//     background-color: aqua;

// }