<!-- [@toGo]="state"  -->

<div 
    
    class="detail-card"
    #shiftCard
>
    <span class="animate-sign-lg  _right" #sign_lg></span>
    <!-- <span class="animate-sign _up"></span> -->

    <div 
        class="h-full w-full" 
        *ngIf="!isSomethingWrong else errorLoading"
    >

        <div *ngIf="!isLoading else toLoadingPage">
            <!-- action section -->
            <section 
                class="action-container"
                *ngIf="templateInfo?.isOwner else emptyBtnContainer"
            >
                <!-- close button only mobile size -->
                <div class="btn-close-container">
                    <button 
                        class="btn btn-close"
                        (click)="close()"
                    >
                        <img 
                            class="img" 
                            src="/assets/images/icons/exit.png">
                    </button>
                </div>
                <div 
                    class="btn-container"                    
                >
                    <!-- edit button -->
                    <button class="btn" (click)="edit()">
                        <!-- <a 
                            class="_link"
                            routerLink="{{routers.EDIT_TEMPLATE}}"
                            [state]="{template:templateInfo}"
                        ></a> -->
                        <img 
                            class="img" 
                            src="/assets/images/icons/edit-item.png">
                    </button>
                </div>

                <!-- remove button -->
                <div class="btn-container">
                    <button 
                        class="btn" 
                        (click)="remove()">
                        <img 
                            class="img" 
                            src="/assets/images/icons/remove-item.png">
                    </button>
                </div>
            </section>

            <!-- title container -->
            <div class="title-container">
                {{templateInfo?.title}} 
            </div>

            <!-- line container -->
            <div class="line-container">
                <div class="line"></div>
            </div>


            <!-- detail section -->
            <section 
                class="detail-info-container"
                *ngIf="!isLoading else toLoadingPage"
            >        
                <!-- <div class="space-y-2"> -->
                    <div class="row-info">
                        <div class="item-row">region</div>
                        <div class="item-row">{{templateInfo?.region?.title}}</div>
                    </div>
                    <div class="row-info">
                        <div class="item-row">factory</div>
                        <div class="item-row">{{templateInfo?.factory?.title}}</div>
                    </div>
                    <div class="row-info">
                        <div class="item-row">storage</div>
                        <div class="item-row">{{templateInfo?.storage?.title}}</div>
                    </div>
                    <div class="row-info">
                        <div class="item-row">manufacturer</div>
                        <div class="item-row">{{templateInfo?.manufacturer?.title}}</div>
                    </div>
                    <div class="row-info">
                        <div class="item-row">category</div>
                        <div class="item-row">{{templateInfo?.category?.title}}</div>
                    </div>
                    <div class="row-info">
                        <div class="item-row">unit</div>
                        <div class="item-row">{{templateInfo?.unit?.title}}</div>
                    </div>
                    <div class="row-info">
                        <div class="item-row">price start</div>
                        <div class="item-row">{{templateInfo?.startPrice}}</div>
                    </div>
                    <div class="row-info">
                        <div class="item-row">price end</div>
                        <div class="item-row">{{templateInfo?.endPrice}}</div>
                    </div>
                    <div class="row-info">
                        <div class="item-row">count start</div>
                        <div class="item-row">{{templateInfo?.startCount}}</div>
                    </div>
                    <div class="row-info">
                        <div class="item-row">count end</div>
                        <div class="item-row">{{templateInfo?.endCount}}</div>
                    </div>
                <!-- </div> -->
            </section>
        </div>
    </div>
</div>


<ng-template #toLoadingPage>
    <div class="load-container">
        <div class="loading-animate "></div>
    </div>
</ng-template>

<ng-template #errorLoading>
    <div class="error-container">
        <div class="error-message">
            Template has been deleted. Reload page.
        </div>
    </div>
</ng-template>

<ng-template #emptyBtnContainer>
    <div class="h-7"></div>
</ng-template>
