<div class="dialog-page">
    
    <div class="dialog" >
        
        <!-- flex-col items-center justify-center  -->
        <div class="flex flex-col items-center justify-center">
            
            <div class="w-16 h-16 border-b-2 border-green-500 rounded-full animate-spin "></div>
            <div class="p-4 ">
                <h1 class="text-green-500">Loading {{title}} ... </h1>
            </div>
            
        </div>
        

    </div>
    
</div>

<!-- <div class="login-page">
    <div class="login-form-container">
        <div class="login-form">
            
            <div class="w-16 h-16 border-b-2 border-green-500 rounded-full animate-spin "></div>
            <div class="p-4 w-full">
                <h1 class="text-green-500">Loading {{title}} ... </h1>
            </div>
            
        </div>
    </div>
</div> -->
