
<div class="login-page">
    <div class="login-form-container">
        <form
            class="login-form"
            (ngSubmit)="onSubmit(); logForm.resetForm();"
            #logForm="ngForm" 
        >
            <div>
                <span *ngIf="login.touched && login.invalid">
                    username is invalid
                </span>
                <input 
                    class="input-data"
                    [(ngModel)]="loginForm.username" 
                    placeholder="username"
                    name="username" 
                    required
                    #login="ngModel"
                >
                
            </div>
            <div>
                <span *ngIf="password.touched && password.invalid">
                    password is invalid
                </span>   
                <input 
                    class="input-data"
                    type="password"
                    [(ngModel)]="loginForm.password" 
                    placeholder="Password" 
                    name="password"
                    required
                    #password="ngModel"
                    
                >
                
            </div>

            <button 
                [ngClass]="logForm.invalid ? 'btn-disabled' : 'btn-submit'"
                
                type="submit"
                [disabled]="logForm.invalid"
            >
                    Login
            </button>
        </form>
    </div>
</div>

