
<div class="login-page">
    <div class="login-form-container">
        <form
            class="login-form"
            (ngSubmit)="onSubmit(); loginForm.resetForm();"
            #loginForm="ngForm" 
        >
            <div>
                <span *ngIf="login.touched && login.invalid">
                    username is invalid
                </span>
                <input 
                    class="input-data"
                    [(ngModel)]="registrationForm.username" 
                    placeholder="username"
                    name="username" 
                    required
                    #login="ngModel"
                >
                
            </div>
            <div>
                <span *ngIf="password.touched && password.invalid">
                    password is invalid
                </span>   
                <input 
                    class="input-data"
                    [(ngModel)]="registrationForm.password" 
                    placeholder="Password" 
                    name="password"
                    required
                    #password="ngModel"
                    
                >
                
            </div>

            <button 
                [ngClass]="loginForm.invalid ? 'btn-disabled' : 'btn-submit'"
                
                type="submit"
                [disabled]="loginForm.invalid"
            >
                    Login
            </button>
        </form>
    </div>
</div>
<!-- <div class="login-page">
    <div class="w-full">
        <div class="login-form-container">
            <form
                class="login-form"
                (ngSubmit)="onSubmit(); loginForm.resetForm();"
                #loginForm="ngForm"    
            >
                <div>
                    <input 
                        [(ngModel)]="registrationForm.username" 
                        placeholder="username"
                        name="username" 
                        required
                        #login="ngModel"
                    >
                    <span *ngIf="login.touched && login.invalid">
                        login is invalid
                    </span>
                </div>
                <div>
                    
                    <input 
                        [(ngModel)]="registrationForm.password" 
                        placeholder="Password" 
                        name="password"
                        required
                        #password="ngModel"
                        
                    >
                    <span *ngIf="password.touched && password.invalid">
                        password is invalid
                    </span>
                </div>
                <button 
                    type="submit"
                    [disabled]="loginForm.invalid"
                >
                    Login
                </button>
            </form>
        </div>
    </div>
    
    
</div> -->
