<button *ngIf="isSelected" (click)="exit()">❌</button>


<!-- <div *ngIf="!isSelected else selectItem">
    <p>role-selector-works</p>
    <div *ngFor="let role of dataUser.roles">
        <button
            *ngIf="role==='AdminManager'" 
            (click)="onSelect('AdminManager')"
        >AdminManager</button>
        <button 
            *ngIf="role==='ProductManager'" 
            (click)="onSelect('ProductManager')"
        >ProductManager</button>
    </div>
</div> -->

<div *ngIf="!isSelected else selectItem">
    <p>role-selector-works</p>
    <div *ngFor="let role of user.roles">
        <button
            *ngIf="role.title==='AdminManager'" 
            (click)="onSelect('AdminManager')"
        >AdminManager</button>
        <button 
            *ngIf="role.title==='ProductManager'" 
            (click)="onSelect('ProductManager')"
        >ProductManager</button>
    </div>
</div>

<ng-template #selectItem>
    <div [ngSwitch]='modeSelector'>
        <app-admin-manager 
            *ngSwitchCase="'AdminManager'"
             [userId]="user.id"
             [permissions]="getPermissions('AdminManager')"
        ></app-admin-manager>
        <app-product-manager
            *ngSwitchCase="'ProductManager'"
            [userId]="user.id"
            [avaiablesPermissions]="getAvaiablesPermissions('ProductManager')"
        ></app-product-manager>
    </div>
</ng-template>
