
<div 
    class="tabs"
    *ngIf="openedTabs.length>0"
>
    <div class="tab">
        <button class="btn-tab" (click)="returnToSelector()">
            ↩
        </button>
    </div>
    <div 
        *ngFor="let tab of openedTabs"            
    >
        <div class="tab">
            <button 
                class="btn-tab"
                (click)="moveToTab(tab)"
            >
                {{tab}}                
            </button>
            <button class="btn-close" (click)="closeTab(tab)">❌</button>
        </div>
        
    </div>
</div>

<div 
    class="page-info"
    *ngIf="pageState.isActive else toMoveNextPage"
>
    <div 
        class="role-section"        
    >
    <div 
        class="permissions-section" 
        (click)="changeModePage('personal_data')"     
    >
        <div class="img-area">
            <div class="img">
                <img src="assets/images/personal_data_user.png">
            </div>
        </div>
        
        <div >
            personal data
        </div>
    </div>
</div>
    <!-- <div 
        class="role-section"
        *ngIf="checkRole('ProductManager')"
    >
        <div 
            class="permissions-section"
            *ngIf="getAvaiablesPermissions('ProductManager').canRead"
            (click)="changeModePage('products')"
            
            
        >
            <div class="img-area">
                <div class="img">
                    <img src="assets/images/storage.jpg">
                </div>
            </div>
            
            <div >
                products
            </div>
        </div>
        <div 
            class="permissions-section"
            (click)="changeModePage('addProduct')"
            *ngIf="getAvaiablesPermissions('ProductManager').canCreate"
        >
            <div class="img-area">
                <div class="img">            
                    <img src="assets/images/add-product.png">
                </div>
            </div>
            
            <div >
                add product
            </div>
        </div>
    </div> -->
    <div 
        class="role-section"
        *ngIf="checkRole('ProductManager')"
    >
        <div 
            class="permissions-section"
            *ngIf="getAvaiablesPermissions('ProductManager').canRead"
            (click)="changeModePage('products')"
            
            
        >
            <div class="img-area">
                <div class="img">
                    <img src="assets/images/storage.jpg">
                </div>
            </div>
            
            <div >
                products
            </div>
        </div>
        <div 
            class="permissions-section"
            (click)="changeModePage('addProduct')"
            *ngIf="getAvaiablesPermissions('ProductManager').canCreate"
        >
            <div class="img-area">
                <div class="img">            
                    <img src="assets/images/add-product.png">
                </div>
            </div>
            
            <div >
                add product
            </div>
        </div>
    </div>
    <div 
        class="role-section"
        *ngIf="checkRole('UserManager')"    
    >
        <div 
            class="permissions-section" 
            (click)="changeModePage('users')"
            *ngIf="getAvaiablesPermissions('UserManager').canRead"
        >
            <div class="img-area">
                <div class="img">
                    <img src="assets/images/users.png">
                </div>
            </div>
            
            <div >
                users
            </div>
        </div>
        <div 
            class="permissions-section" 
            (click)="changeModePage('addUser')"
            *ngIf="getAvaiablesPermissions('UserManager').canCreate"
        >
            <div class="img-area">
                <div class="img">            
                    <img src="assets/images/add-user.png">
                </div>
            </div>
            
            <div >
                add user
            </div>
        </div>
    </div>
    <div 
        class="role-section"
        *ngIf="checkRole('ProductMovementManager')"
    >
        <div 
            class="permissions-section" 
            (click)="changeModePage('movementsProducts')"
            *ngIf="getAvaiablesPermissions('MovementsProductManager').canRead"
        >
            <div class="img-area">
                <div class="img">
                    <img src="assets/images/move_to_product.png">
                </div>
            </div>
            
            <div >
                movements products
            </div>
        </div>
        <div 
            class="permissions-section" 
            (click)="changeModePage('addMovements')"
            *ngIf="getAvaiablesPermissions('MovementsProductManager').canCreate"
        >
            <div class="img-area">
                <div class="img">            
                    <img src="assets/images/addMovements.png">
                </div>
            </div>
            
            <div >
                add movements
            </div>
        </div>
    </div>
</div>


<ng-template #toMoveNextPage>
    <div [ngSwitch]='pageState.path' class="h-full   pb-16 ">
        <app-personal-user-data
            *ngSwitchCase="'personal_data'"
        >
        </app-personal-user-data>
        <app-products 
            *ngSwitchCase="'products'"
            class="h-full   pb-16 "
            [avaiablesPermissions]="getAvaiablesPermissions('ProductManager')"
            
        ></app-products>
        
        <app-add-product
            *ngSwitchCase="'addProduct'"
        ></app-add-product>
        
        <app-users
            *ngSwitchCase="'users'"
            [avaiablesPermissions]="getAvaiablesPermissions('AdminManager')"
        >
        </app-users>
        <app-add-user
            *ngSwitchCase="'addUser'"
        >                        
        </app-add-user>
       
        <h1            
            *ngSwitchCase="'movementsProducts'"
        >{{pageState.path}}</h1>
        
        <app-product-movements
            class="h-full   pb-16 "
            *ngSwitchCase="'addMovements'"
        >
        </app-product-movements>
    </div>
    
    
</ng-template>



