
// role selector page
.role-selector-container{
  @apply 
    h-full w-full
    border-b-2  border-white;

// title role selector
    .title-role-selector-container{
      @apply 
        h-12 flex  bg-white ;

// title role selector
        .title-role-selector{
          @apply
            flex m-auto 
            text-2xl font-bold text-blue-800
            duration-300;
        }

        
        
    }

// tabs container
    .tabs-container{
      @apply h-8 bg-blue-100;
    }
// cards container
    .role-selector-cards-container{
      @apply 
        w-full h-full 
        px-10 py-6 
        border-4 border-red-600
        bg-blue-100 
        overflow-y-scroll overflow-hidden;
// cards
        .role-selector-cards{
          @apply 
            h-full  flex flex-wrap ;

            .card-container{
              @apply 
                h-72 w-96 flex mx-auto border-2 border-transparent rounded-md
                
                md:w-1/2 md:m-0
                lg:w-1/3;

// card
                .card{
                  @apply 
                    w-11/12  flex flex-col
                    m-auto
                    rounded-b-md;

// image card container

                    .image-card-container{
                      @apply 
                        relative
                        w-full flex-1
                        rounded-md;
// back side image   container                    
                        .back-side-image-container{
                          @apply
                            absolute top-0 left-0
                            w-full h-full
                            rounded-md
                            overflow-hidden;

                            .back-side-image{
                              @apply 
                                w-full h-full pt-8 pl-2 bg-black                        
                               ;

                               .back-side-image-text{
                                @apply
                                  w-full h-full
                                   text-white;
                               }
                            }
                            
                        }

                        .back-side-image-visible{
                          @apply transform translate-y-0 duration-500 bg-blue-500;
                        }

                        .back-side-image-invisible{
                          @apply transform -translate-y-full duration-500;
                        }

// icon rotate
                        .btn-info-card-open{
                          @apply transform rotate-90 duration-300;
                        }

                        .btn-info-card-close{
                          @apply transform  rotate-0 duration-300;
                        }
// button image card description
                        .btn-info-card{
                          @apply 
                            absolute top-0.5 right-0.5
                            h-4 w-4 
                            bg-white 
                            rounded-full
                            opacity-75
                            hover:opacity-100;
// tooltip text description
                            .tooltip-text-btn-info{
                             @apply
                                invisible 
                                absolute flex bottom-full left-full 
                                transform -translate-x-1/2
                                mb-1.5 -ml-2 px-1
                                text-blue-800 text-sm font-bold
                                rounded-md 
                                bg-white;
                            }

                            
                           
// pointer text description
                            .tooltip-text-btn-info::after{
                              content: "";
                            }

                            .tooltip-text-btn-info::after{
                              @apply 
                                absolute  -bottom-0.5 left-1/2 w-1 h-1 
                                bg-white                                
                                transform rotate-45;
                                                                ; 
                            }

// icon button description                            
                            .icon-btn-info-card::before,
                            .icon-btn-info-card::after{
                              @apply
                                absolute w-1.5 h-0.5 
                                left-1/2 -ml-0.75 -mt-0.25
                                 bg-blue-800;
                            }

                            .icon-btn-info-card::before,
                            .icon-btn-info-card::after{
                              content: "";
                            }

                            .icon-btn-info-card::before{
                              @apply transform -rotate-45 origin-right duration-300;
                            }

                            .icon-btn-info-card::after{
                              @apply transform rotate-45 origin-right duration-300;
                            }
                        }
// hover button description card

                        .btn-info-card:hover .tooltip-text-btn-info{
                          @apply visible;
                        }
// image card
                        .image-card{
                          @apply h-48 w-full rounded-md block;
                    
                          
                        }
                    }

                      
// title and button link card container

                    .action-card-container{
                      @apply flex-none flex justify-between pt-3 ; 

                      .title-card{
                        @apply my-auto text-lg font-bold text-blue-900;
                        
                      }

                      .btn-action-card{                      
                        
                        
                        
// button Go to link
                        .btn-action{
                         @apply  px-8 py-2
                          border border-transparent
                          text-sm font-medium rounded-md text-white 
                          bg-green-600 
                          hover:bg-green-700 
                          focus:outline-none 
                          focus:ring-2 
                          focus:ring-offset-2 
                          focus:ring-green-500;
                        }
                      }
                    }
                }
            }
        }
    }

    
}

// ng-template switch
.template-role-selector-container{
  @apply h-full w-full ;

  .items{
    @apply h-full w-full;

    .item-switch{
      @apply h-full w-full;
    }
  }
}



// .tabs{
//     @apply flex;

//     .tab{
//         @apply  text-white font-bold py-2 rounded
//     }

//     .tab:hover{
//         @apply bg-blue-800;
//         @apply border-2 border-blue-800;
//     } 
    
//     .btn-tab{
//       @apply pr-4 pl-2;
//       height: 12px;
//     }

// }

// .template-container{
//   height: calc(100% - 80px);
// }

// .card-container{
//   height: calc(100% - 80px);
//   overflow-y: auto;
// }

//  .activTab{
//   @apply bg-blue-600;
//   @apply border-2 border-blue-900;
//  }

//  .noActivTab{
//    @apply bg-blue-500;
//    @apply border-2 border-blue-500;
//  }


//   .card {
//     width: w-full;
//     height: h-48;
//     position: relative;
//     border: 1px solid #fff;
//   }
//   .front {
//     width: 100%;
//     @apply h-48;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     transition: 1s;
//     backface-visibility: hidden;
//     background-color: #fff;
//    }
//    .back {
//     @apply bg-blue-500;
//     position: absolute;
//     width: 100%;
//     @apply h-48;
//     left: 0;
//     top: 0;
//     display: flex;
//     transition: 1s;
//     backface-visibility: hidden;
//    }
//   .front img {
//   }
//   .back {
//     transform: rotateY(180deg);
//   }

// .cardFronSide{
//     transform: rotateY(180deg);
// }

// .cardBackSide{
//     transform: rotateY(360deg);
// }

// .tooltip:hover .tooltiptext {
//     visibility: visible;
//     opacity: 1;
// }

// .tooltip {
//     position: relative;
//     display: inline-block;
//   }
  
//   .tooltip .tooltiptext {
//     visibility: hidden;
//     width: 120px;
//     color: black;
//     text-align: center;
//     border-radius: 6px;
//     padding: 5px 0;
//     position: absolute;
//     z-index: 1;
//     bottom: 125%;
//     left: 50%;
//     margin-left: -60px;
//     opacity: 0;
//     transition: opacity 0.3s;
//   }
  
//   .tooltip .tooltiptext::after {
//     content: "";
//     position: absolute;
//     top: 100%;
//     left: 50%;
//     margin-left: -5px;
//     border-width: 5px;
//     border-color: white transparent transparent transparent;
//   }
  
//   .tooltip:hover .tooltiptext {
//     visibility: visible;
//     opacity: 1;
//   }




  
  
