

.tabs{
    @apply flex;

    .tab{
        @apply  text-white font-bold py-2 rounded
    }

    .tab:hover{
        @apply bg-blue-800;
        @apply border-2 border-blue-800;
    } 
    
    .btn-tab{
        @apply pr-4 pl-2;
    }

}

 .activTab{
  @apply bg-blue-600;
  @apply border-2 border-blue-900;
 }

 .noActivTab{
   @apply bg-blue-500;
   @apply border-2 border-blue-500;
 }


  .card {
    width: w-full;
    height: h-48;
    position: relative;
    border: 1px solid #fff;
  }
  .front {
    width: 100%;
    @apply h-48;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    background-color: #fff;
   }
   .back {
    @apply bg-blue-500;
    position: absolute;
    width: 100%;
    @apply h-48;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
    backface-visibility: hidden;
   }
  .front img {
  }
  .back {
    transform: rotateY(180deg);
  }

.cardFronSide{
    transform: rotateY(180deg);
}

.cardBackSide{
    transform: rotateY(360deg);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: black#fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: white transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .t-container{
    height: 100vh;
    
  }
  // .template-container{
  //   height: 100%;
  // }
