.filter-by-criteria-container{
    @apply w-full h-full px-12 py-4 lg:px-48 overflow-y-auto;

    
    .form-title-container{
        @apply flex  my-2 space-x-1;


        .form-access{
            @apply
            w-full
            flex-1 
            p-2 
            border border-transparent rounded-md 
            text-sm text-white font-bold text-center
            bg-red-500;
        }

        .invisible-form-access{
            @apply invisible;
        }

        .form-title{
            @apply 
                flex-none
                p-2 
                border border-transparent rounded-md 
                text-sm text-white font-bold bg-blue-800;
        }
    }

    .form-container{
        @apply relative w-full space-y-4 p-4 rounded-md border-2 border-blue-700;
        
        
        .block-screen{
            @apply
                z-40 absolute top-0 right-0
                w-full h-full
                bg-gray-200 opacity-50;
        }
        .section-filter-row{
            @apply flex gap-x-4;
            .option-filter-container{
                @apply flex-1 w-1/3;

            }
        }
    }
}

.range-controllers-container{
    @apply flex justify-center gap-x-4;
}

// range controllors
.range-controllers{
    @apply
        w-1/3
        flex-1 justify-center
        space-y-4
        border-2 border-gray-400
        rounded-md;

    .input-range-container{
        @apply flex-col px-2;

        .input-range{
            @apply flex py-2;

            .input-range-title{
                @apply flex-none w-1/4 my-auto;
            }
    
            .input{
                @apply flex-none w-1/2 flex justify-items-center;
            }

            .input-value{
                @apply flex-none w-1/4 pl-2;
            }
        }

        
    }
    
}

.option-filter-header{
    @apply relative mx-2 my-1 flex gap-x-4 ;  

    

    .form-label-container{
        @apply flex-none  my-auto;
    }

    .btn-reset-container{
        @apply w-5 h-5 flex-none flex my-auto;
    }
}




.cell-option{
    // @apply
    //     w-full h-10.5
    //
    //     py-2 pl-3 pr-4

    
    // @apply 
    //     border-2 border-gray-600        
    //      rounded-md;
    border-radius: 6px;    
    appearance: none;
    position: relative;
    width: 100%;
    padding: 10px 12px;
    margin: 8px 0;
    color: #111827;
    font-size: 14px;
    line-height: 16px;

    border: 0.5px solid blue;
   
}

.cell-option-loading{
    // font-size: 14px;
    // line-height: 16px;
    // //@apply h-9.5 flex;
    // border-radius: 6px;
    // border: 0.5px solid red;
}

// .cell-option-non-active{
//     @apply 
//         flex justify-center
//         h-10.5 w-full
//         mt-1
//         py-2 pl-3 pr-10
//         border border-gray-500 rounded-md;
// }

.btn-container{
    @apply w-40 h-9;
}

// .loading-animate-container{
//     @apply 
//         absolute top-0 right-0 
//         w-full h-full ;
// }
.loading-animate{
    // @apply 
    //     flex w-3 h-3 
    //     my-auto  
    //     rounded-full border-b-2 border-green-500 
    //     animate-spin;

    @apply 
        absolute top-1/2 right-1/2 -mt-1.5 -mr-1.5 
        w-3 h-3 bg-white
        rounded-full border-b-2 border-green-500
        animate-spin;
}

