


<!-- modal -->
<div>
    <app-warning-modal     
        *ngIf="isShowModalWarning" 
        [modalInfo]="modalInfo"
        (answer)="closeModalWarning($event)"
    ></app-warning-modal>
</div>


<!-- filter by criteria container -->
<div 
    class="filter-by-criteria-container"
>  
    <!-- form title container -->
    <div class="form-title-container">
        <div 
            class="form-title"
        > 
            filter name : <span *ngIf="!isChangedOption else newTitleFilter">{{startFilter.title}}</span>
        </div>
    </div>
    <!-- form  -->
    <form 
        class="form-container"
        #filterForm="ngForm"
    >
        
        
        <!-- location filter -->
        <div class="section-filter-row">
            <!-- regions -->
            <div class="option-filter-container">

                <!-- option filter header -->
                <div class="option-filter-header">
                    <div class="form-label-container">
                        <span class="_form-label">regions</span>
                    </div>

                    <!-- button reset container -->
                    <app-reset-button
                        class="btn-reset-container"
                        *ngIf="isSelectedSomething(rawFilter.regionId) && loadingOptionFilterByCriteria.isComplitedLoadingRegions"
                        (reset)="resetSelectedRegion()"
                    ></app-reset-button>
                </div>

                <!-- option filter -->
                <section *ngIf="loadingOptionFilterByCriteria.isComplitedLoadingRegions else loadingOption">
                    <select 
                        class="_form-select"
                        *ngIf="regions.length>1 else showRegionTitle"                    
                        [(ngModel)]=rawFilter.regionId
                        name="regions"
                        (change)="changeFilterRegion()"
                    >
                        <option
                            *ngFor="let region of regions" 
                            [value]="region.id"
                            name="region"                   
                        >
                            {{region.title}}
                        </option>
                    </select>
                </section>
                
            </div>

            <!-- factories -->
            <div class="option-filter-container">

                <!-- option filter header -->
                <div class="option-filter-header">
                    <div class="form-label-container">
                        <span class="_form-label">factories</span>
                    </div>

                    <!-- reset button container -->
                    <app-reset-button
                        class="btn-reset-container"
                        *ngIf="isSelectedSomething(rawFilter.factoryId) && loadingOptionFilterByCriteria.isCompliteLoadingFactories"
                        (reset)="resetSelectedFactory()"
                    ></app-reset-button>
                </div>

                <!-- option filter -->
                <section *ngIf="loadingOptionFilterByCriteria.isCompliteLoadingFactories else loadingOption">
                    <select                         
                        class="_form-select"
                        *ngIf="factories.length>1 else showFactoryTitle"
                        [(ngModel)]=rawFilter.factoryId
                        name="factories"
                        (change)="changeFilterFactory()"              
                        
                    >
                        <option class="hidden" [value]="0"  disabled></option>
                        <option                           
                            *ngFor="let factory of factories" 
                            
                            [value]="factory.id"                  
                            name="factory" 

                        >
                            {{factory.title}}
                        </option>
                    </select>
                </section>               
                
            </div>

            <!-- storages -->
            <div class="option-filter-container">

                <!-- option filter header -->
                <div class=" option-filter-header">
                    <div class="form-label-container">
                        <span class="_form-label">storages</span>
                    </div>

                    <!-- reset button container -->
                    <app-reset-button
                        class="btn-reset-container"
                        *ngIf="isSelectedSomething(rawFilter.storageId) && loadingOptionFilterByCriteria.isComplitedLoadingStorages"
                        (reset)="resetSelectedStorage()"
                    ></app-reset-button>
                </div>

                <!-- option filter  -->
                <section *ngIf="loadingOptionFilterByCriteria.isComplitedLoadingStorages else loadingOption">
                    <select 
                        class="_form-select"
                        *ngIf="storages.length>1 else showStorageTitle"
                        [(ngModel)]=rawFilter.storageId
                        name="storages"
                        (change)="changedFilter()"
                    >
                        <option class="hidden" [value]="0"  disabled></option>
                        <option
                            *ngFor="let storage of storages" 
                            [value]="storage.id"
                            name="storage"                   
                        >
                            {{storage.title}}
                        </option>
                    </select>
                </section>
                
            </div>
        </div>

        <!-- manufacturer category unit -->
        <div class="section-filter-row">

            <!-- manufacturer -->
            <div class="option-filter-container">

                <!-- option filter header -->
                <div class="option-filter-header">
                    <div class="form-label-container">
                        <span class="_form-label">manufacturers</span>
                    </div>

                    <!-- reset button container -->
                    <app-reset-button
                        class="btn-reset-container"
                        *ngIf="isSelectedSomething(rawFilter.manufacturerId) && loadingOptionFilterByCriteria.isComplitedLoadingManufacturers"
                        (reset)="resetSelectedManufacturer()"
                    ></app-reset-button>
                </div>

                <!-- option filter -->
                <section *ngIf="loadingOptionFilterByCriteria.isComplitedLoadingManufacturers else loadingOption">
                    <select 
                        class="_form-select"
                        [(ngModel)]=rawFilter.manufacturerId
                        name="manufacturers"
                        (change)="changedFilter()"
                    >
                        <option
                            *ngFor="let manufacturer of manufacturers" 
                            [value]="manufacturer.id"
                            name="manufacturer"                   
                        >
                            {{manufacturer.title}}
                        </option>
                    </select>
                </section>
            </div>

            <!-- category -->
            <div class="option-filter-container">

                <!-- filter option header -->
                <div class="option-filter-header">
                    <div class="form-label-container">
                        <span class="_form-label">categories</span>
                    </div>

                    <!-- reset button container -->
                    <app-reset-button
                        class="btn-reset-container"
                        *ngIf="isSelectedSomething(rawFilter.categoryId) && loadingOptionFilterByCriteria.isComplitedLoadingCategories"
                        (reset)="resetSelectedCategory()"
                    ></app-reset-button>
                </div>

                <!-- option filter -->
                <section *ngIf="loadingOptionFilterByCriteria.isComplitedLoadingCategories else loadingOption">   
                    <select 
                        class="_form-select"
                        [(ngModel)]=rawFilter.categoryId
                        name="categories"
                        (change)="changedFilter()"
                    >
                        <option
                            *ngFor="let category of categories" 
                            [value]="category.id"
                            name="category"                   
                        >
                            {{category.title}}
                        </option>
                    </select>
                </section>
            </div>

            <!-- unit -->
            <div class="option-filter-container">
                <div class="option-filter-header">
                    <div class="form-label-container">
                        <span class="_form-label">units</span>
                    </div>

                    <!-- reset button container -->
                    <app-reset-button
                        class="btn-reset-container"
                        *ngIf="isSelectedSomething(rawFilter.unitId) && loadingOptionFilterByCriteria.isComplitedLoadingUnits"
                        (reset)="resetSelectedUnit()"
                    ></app-reset-button>
                </div>

                <!-- option filter -->
                <section *ngIf="loadingOptionFilterByCriteria.isComplitedLoadingUnits else loadingOption">
                    <select 
                        class="_form-select"
                        [(ngModel)]=rawFilter.unitId
                        name="unit"
                        (change)="changedFilter()"
                    >
                        <option
                            *ngFor="let unit of units" 
                            [value]="unit.id"
                            name="unit"                   
                        >
                            {{unit.title}}
                        </option>
                    </select>
                </section>
            </div>
        </div>

        <!-- count and price -->
        <div class="range-controllers-container">

            <!-- count control container -->
            <div class="range-controllers">
               
                <!-- header and radio count -->
                <div class="option-filter-header">
                    <!-- title container -->
                    <div class="form-label-container">
                        <span class="_form-label">count</span>
                    </div>


                    <!-- reset button container -->
                    <app-reset-button
                        class="btn-reset-container"
                        *ngIf="isSelectedRangeCount()"
                        (reset)="resetSelectedRangeCount()"
                    ></app-reset-button>
                </div>

                <!-- radio control count -->
                <div class="px-8 flex justify-between custom-control custom-radio">
                    <!-- input radio 1 -->
                    <div>
                        <input
                            class="custom-control-input"
                            type="radio"
                            name="A"
                            [(ngModel)]="stepRangeCount"
                            [value]="1"
                        >
                        <span class="pl-2">+1</span>
                    </div>

                    <!-- input radio count 10 -->
                    <div>
                        <input
                            class="custom-control-input"
                            type="radio"
                            name="B"
                            [(ngModel)]="stepRangeCount"
                            [value]="10"
                        >
                        <span class="pl-2">+10</span>
                    </div>

                    <!-- input radio count 100 -->
                    <div>
                        <input
                            class="custom-control-input"
                            type="radio"
                            name="C"
                            [(ngModel)]="stepRangeCount"
                            [value]="100"
                        >
                        <span class="pl-2">+100</span>
                    </div>
                    
                </div>

                <!-- input range count controller container -->
                <div class="input-range-container">

                    <!-- input range min count container -->
                    <div class="input-range">
                        <div class="input-range-title">
                            <span >start : </span>
                        </div>

                        <!-- input range min count -->
                        <div class="input">
                            <input
                                class="w-full"
                                type="range"
                                min="0"
                                max="{{filterMaxCount-1}}"
                                step="{{stepRangeCount}}"
                                [(ngModel)]="rawFilter.startCount"
                                name="startCount"
                                (ngModelChange)="changeFilterStartCount($event)"
                            >
                        </div>

                        <!-- value input range min count  -->
                        <div class="input-value">
                            <span>{{rawFilter.startCount}}</span>
                        </div>
                    
                    </div>

                    <!-- input range max count container -->
                    <div class="input-range">
                        <div class="input-range-title">
                            <span >end : </span>
                        </div>
                        <!-- input range max count container -->
                        <div class="input">
                            <input
                            class="w-full"
                            type="range"
                            min="0"
                            max="{{filterMaxCount}}"
                            step="{{stepRangeCount}}"
                            [(ngModel)]="rawFilter.endCount"
                            name="endCount"
                            (ngModelChange)="changeFilterEndCount($event)"
                            >
                        </div>

                        <!-- value input range max count container -->
                        <div class="input-value">
                            <span>{{rawFilter.endCount}}</span>
                        </div>
                    
                    </div>
                    
                </div>
            </div>


            <!-- price control container -->
            <div class="range-controllers">

                <!-- header  price -->
                <div class=" option-filter-header">
                    <div class="form-label-container">
                        <span class="_form-label">price</span>
                    </div>


                    <!-- reset button container -->
                    <app-reset-button
                        class="btn-reset-container"
                        *ngIf="isSelectedRangePrice()"
                        (reset)="resetSelectedRangePrice()"
                    ></app-reset-button>
                </div>

                 <!-- radio controller price -->
                 <div class="px-8 flex justify-between custom-control custom-radio">
                    <!-- input radio 50 -->
                    <div>
                        <input
                            class="custom-control-input"
                            type="radio"
                            name="D"
                            [(ngModel)]="stepRangePrice"
                            [value]="50"
                        >
                        <span class="pl-2">+50</span>
                    </div>

                    <!-- input radio 500 -->
                    <div>
                        <input
                            class="custom-control-input"
                            type="radio"
                            name="E"
                            [(ngModel)]="stepRangePrice"
                            [value]="500"
                        >
                        <span class="pl-2">+500</span>
                    </div>

                    <!-- input radion 5000 -->
                    <div>
                        <input
                            class="custom-control-input"
                            type="radio"
                            name="F"
                            [(ngModel)]="stepRangePrice"
                            [value]="5000"
                        >
                        <span class="pl-2">+5000</span>
                    </div>
                    
                </div>

                <!-- input range price controller container -->
                <div class="input-range-container">
                    <!-- input range min price -->
                    <div class="input-range">
                        <div class="input-range-title">
                            <span >start : </span>
                        </div>

                        <!-- input range price min -->
                        <div class="input">
                            <input
                                class="w-full"
                                type="range"
                                min="0"
                                max="{{filterMaxPrice-1}}"
                                step="{{stepRangePrice}}"
                                [(ngModel)]="rawFilter.startPrice"
                                name="startPrice"
                                (ngModelChange)="changeFilterStartPrice($event)"
                            >
                        </div>
                        <div class="input-value">
                            <span>{{rawFilter.startPrice}}</span>
                        </div>
                    
                    </div>

                    <!-- input range max price -->
                    <div class="input-range">
                        <div class="input-range-title">
                            <span >end : </span>
                        </div>
                        <!-- input max price -->
                        <div class="input">
                            <input
                            class="w-full"
                            type="range"
                            min="0"
                            max="{{filterMaxPrice}}"
                            step="{{stepRangePrice}}"
                            [(ngModel)]="rawFilter.endPrice"
                            name="endPrice"
                            (ngModelChange)="changeFilterEndPrice($event)"
                            >
                        </div>
                        <div class="input-value">
                            <span>{{rawFilter.endPrice}}</span>
                        </div>
                    
                    </div>                    
                </div>       
            </div>

            <!-- using for divide on 3 same part -->
            <div class="flex-1 w-1/3">            
            </div>
        </div>

        <!-- action container -->
        <div class="flex justify-around">

            <!-- apply -->
            <div class="btn-container">
                <button
                    class="btn-submit"
                    [ngClass]="{'no-hover': !isChangedOption}"
                    (click)="onSubmitFilter()"
                    type="button"
                >
                    apply
                </button>
            </div>

            <!-- clear -->
            <div class="btn-container">
                <button
                    class="btn-submit"
                    [ngClass]="{'no-hover': isEmptyFilter}"
                    (click)="clearFilterForm()"
                    type="button"
                >
                    clear
                </button>
            </div>

            <!-- apply and save -->
            <div class="btn-container">
                <button
                    class="btn-submit"
                    [ngClass]="{'no-hover': isEmptyFilter || ( !isChangedOption && startFilter.id!==0)}"
                    (click)="onSubmitFilterWithSave()"
                    type="button"
                >
                    
                    apply and save 
                </button>
            </div>
        </div>
    </form>
</div>



         
        
<ng-template #showRegionTitle>
    <!-- <div *ngFor="let region of regions" class="cell-option">{{region.title}}</div> -->
    <select                         
        class="_form-select"
    >        
        <option                           
            *ngFor="let region of regions" 
        >
            {{region.title}}
        </option>
    </select>
    
</ng-template>

<ng-template #showFactoryTitle>
    <select                         
        class="_form-select"
    >        
        <option                           
            *ngFor="let factory of factories" 
        >
            {{factory.title}}
        </option>
    </select>
    <!-- <div class="bg-black">
        <div *ngFor="let factory of factories" class="cell-option">{{factory.title}}</div>
    </div>    -->
</ng-template>

<ng-template #showStorageTitle>
    <select                         
        class="_form-select"
    >        
        <option                           
            *ngFor="let storage of storages" 
        >
            {{storage.title}}
        </option>
    </select>
</ng-template>

<ng-template #loadingOption>
    <!-- <div 
        class="cell-option"
    >
        <span class="loading-animate"></span>5
    </div> -->
    <div class="relative">
        <select                         
            class="_form-select"
        >          
        </select>
        <!-- <div class="loading-animate-container">
            <span class="loading-animate"></span>
        </div> -->
        <span class="loading-animate"></span>
    </div>
</ng-template>

<ng-template #newTitleFilter>
    <span>new template</span>
</ng-template>





