<p>admin-manager works!</p>




<div *ngIf="!isSelect else selectItem">
    <button 
        *ngIf="canGet()"
        (click)="onSelect('getUsers')"
    >Get users</button>
    <span *ngIf="canCreate()">
        <button (click)="onSelect('addUser')">Add user</button>
        <button (click)="onSelect('addModel')">Add module</button>
    </span>
</div>

<ng-template #selectItem>
    <div [ngSwitch]="modeAdminPage">
        <app-users 
            *ngSwitchCase="'getUsers'"
            [dataUser]="dataUser"
        ></app-users>
    </div>
</ng-template>







