<div class="py-44">
    
    <div class="image-form-container">
        <img 
            class="_image-logo-form" 
            src="assets/images/logo_picture/tailwind_logo.png"
        > 
    </div>


    <div class="btn-close-container">
        <app-close-btn
            (responce)="close();"
        ></app-close-btn>
    </div>

    <div class="header-form">
        <span>New product template</span>
    </div>

    <!-- *ngIf="!isLoadingPage else toShowLoadingPage" -->

    <!-- filter criteria component -->
    <app-filter-by-criteria        
        [startFilter]="newTemplate"
        (submitForm)="applyCriteria($event)"
        (changed)="saveChanges($event)"
    ></app-filter-by-criteria>
</div>


