<div class="add-user-page">
    <div class="section-page">
        <div class="title-section">
            <span >User info</span>
        </div>
        <div>
            <form
                class="registration-form"
                (ngSubmit)="onSubmit(); newUserWithAvaiablesForm.resetForm(); avaiableUserForm.resetForm()"
                #newUserWithAvaiablesForm="ngForm" 
            >
                <div class="body-form">
                    <div class="warning-message">
                        <span                             
                            *ngIf="employee.invalid else addedSpace">⚠️ select fullname
                        </span>
                    </div>
                    <div>
                        <select 
                            class="input-data"                            
                            [(ngModel)]=newUserWithAvaiables.employeeId
                            name="empId"
                            #employee="ngModel"
                            required
                        >      
                                  
                            <option
                                *ngFor="let employee of employees" 
                                [value]="employee.id"
                                name="employee"                   
                            >
                                a {{employee.lastname}} {{employee.firstname}}
                            </option>
                        </select>
                    </div>
                    <div class="warning-message">
                        <span                             
                            *ngIf="login.touched && login.invalid else addedSpace"
                        >
                            ⚠️ input username
                        </span>
                        <input 
                            class="input-data"
                            [(ngModel)]="newUserWithAvaiables.username" 
                            placeholder="username"
                            name="username" 
                            required
                            #login="ngModel"
                        >
                        
                    </div>
                    <div>
                        <span 
                            class="warning-message"
                            *ngIf="password.touched && password.invalid else addedSpace"
                        >
                            ⚠️ input password
                        </span>   
                        <input 
                            class="input-data"
                            type="password"
                            [(ngModel)]="newUserWithAvaiables.password" 
                            placeholder="Password" 
                            name="password"
                            required
                            #password="ngModel"                            
                        >                        
                    </div>
                    <div>
                        <span 
                            class="warning-message"
                            *ngIf="password.touched && !checkPassword() else addedSpace"
                        >
                            ⚠️ confirm password incorrect
                        </span>   
                        <input 
                            class="input-data"
                            type="password"
                            name="confirm"
                            placeholder="Confirm password" 
                            [(ngModel)]="confirmPassword"              
                        >
                        
                    </div>
                    <div>
                        <span 
                            class="warning-message"
                            *ngIf="email.touched && email.invalid else addedSpace"
                        >
                        ⚠️ incorrect email                
                        </span>
                        <input 
                            class="input-data"
                            type="email"
                            [(ngModel)]="newUserWithAvaiables.email" 
                            placeholder="example@gmail.com"
                            name="email" 
                            required
                            ngModel [email] = "true"
                            #email="ngModel"
                        >
                        
                    </div>
                    <button 
                        [ngClass]="newUserWithAvaiablesForm.invalid || !checkPassword() || !isValidAvaiables() ? 'btn-disabled' : 'btn-submit'"
                        
                        type="submit"
                        [disabled]="newUserWithAvaiablesForm.invalid || !checkPassword()|| !isValidAvaiables()"
                    >
                            create user
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="section-page">
        <div class="title-section">
            <span >Avaibles user</span>
        </div>
        <form
            class="registration-form"
            (ngButton)="avaiableUserForm.resetForm()"
            #avaiableUserForm="ngForm"
        >
            <div class="body-form">
                <div class="warning-message">
                    <span                         
                        *ngIf="!isValidAvaiables() else addedSpace"
                        >⚠️ add role
                    </span>
                </div> 
                <div class="select-role-body">
                    <div class="select-role">
                        <select 
                            class="input-data"
                            (change)="onSelectRole($event)"
                            [(ngModel)]=avaiableUser.roleId
                            name="role"                
                        >                                      
                            <option
                                *ngFor="let role of allRoles" 
                                [value]="role.id"
                                                   
                            >
                                {{role.title}}
                            </option>
                        </select>
                    </div>
                </div>
                <div 
                    class="role-info"
                    *ngIf="newUserWithAvaiables.avaiables.length>0 ">
                    <div >
                        <h1>{{newUserWithAvaiables.avaiables.length}} added roles </h1>
                    </div>
                    <div *ngIf="!isOpenAvaiablesInfo">
                        <button                             
                            type="button" 
                            (click)="openAvaiablesInfo()"
                        >➡️</button>
                    </div>
                    <div *ngIf="isOpenAvaiablesInfo">
                        <button                             
                            type="button" 
                            (click)="closeAvaiablesInfo()"
                        >⬆️</button>
                    </div>
                    
                </div>
                <div  *ngIf="isOpenAvaiablesInfo">
                    <div class="role-info-description" *ngFor="let avaiable of currentAvaiables let i=index">
                        <div class="role-info-description-item" >
                            <div class="role-info-description-item-title">
                                <h1 class="role-title">role : {{avaiable.role}}</h1>
                                <h1 class="role-title">access : {{avaiable.access}}</h1>
                            </div>
                            <div class="role-info-description-item-btn">
                                <!-- <button class="btn-ok" type="button" >✔️</button> -->
                                <button class="btn-delete" type="button" (click)="removeAvaiable(avaiable.role)" >❌</button>
                            </div>
                        </div>
                        
                        <div >
                            <div  *ngFor="let permission of avaiable.permissions; let i=index">
                                <h1 class="permission-title">{{permission}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="section-avaiables"
                    *ngIf="isCreateAvaiables"
                >
                    <div class="btn-section">
                        <button 
                            class="btn-ok"
                            *ngIf="isValidPermissions() && isValidAccess()"
                            type="button"
                            (click)="saveRole();avaiableUserForm.resetForm()"
                        >
                            ✔️
                        </button>
                        <button 
                            class="btn"
                            type="button"
                            (click)="closeCreateRole(); avaiableUserForm.resetForm()"
                        >
                            ❌
                        </button>
                    </div>
                    <div>
                        <span>role: {{selectedRole.title}}</span>
                    </div>
                    <div class="section-avaiables-warning">
                        <div class="avaiables-warning">
                            <span class="warning-message" *ngIf="!isValidPermissions() else addedSpace">⚠️ add permissions</span>
                        </div>
                        <div class="avaiables-warning">
                            <span class="warning-message" *ngIf="!isValidAccess() else addedSpace">⚠️ add access</span>
                        </div>
                    </div>
                    
                    <div class="flex">
                        <div class="flex-1">
                            <div *ngFor="let permission of permissionsAction; let i=index">
                                <input 
                                    type="checkbox"
                                    [(ngModel)]="permission.isSelected"
                                    name="{{selectedRole}}+{{permission.title}}+{{i}}" 
                                    [checked]="permission.isSelected"
                                
                                >
                                <label>{{permission.title}}</label>
                            </div>
                        </div>
                        <div class="flex-1">
                            <div 
                                class="custom-control custom-radio"
                                *ngFor="let access of accessesAction; let i=index"
                            >
                                <input 
                                    class="custom-control-input"
                                    type="radio"
                                    [(ngModel)]="access.isSelected"
                                    value={{access.isSelected}}
                                    name="access" 
                                    [checked]=access.isSelected                             
                                >
                                <label>{{access.title}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<ng-template #addedSpace>
    <br>
</ng-template>