
<!-- home page container -->
<div class="home-page-container">

    <!-- header container -->
    <div
        class="header-home-page-container" 
        *ngIf="!isShortHeader else toDoShortHeader"
        style="background-image: url('../../assets/images/mainPage.jpg')"
    >
        <!-- nav header container -->
        <div
            class="header-nav-container"            
        >
            <app-nav-menu></app-nav-menu>
        </div>

        <!-- logo container -->
        <div class="header-logo-container">
            logo
        </div>
        

        <!-- slogan container -->
        <div class="header-slogan-container">
            slogan
        </div>


        <!-- info container -->
        <div class="header-info-container">
            information
        </div>
    </div>

    <!-- information page -->
    <div 
        class="information-page-container"
        [ngClass]="{'information-page-container-with-short-header' : isShortHeader}">
        <app-information-page></app-information-page>
    </div>

    <!-- footer container-->
    <div class="footer-container">
       there will be footer
    </div>
</div>

<!-- template section 1 -->
<ng-template #toDoShortHeader>
    <div
        class="header-nav-container-short"
    >
        <app-nav-menu></app-nav-menu>
    </div>
</ng-template>

