
<!-- home page container -->
<div class="home-page-container">

    <!-- header container -->
    <div
        class="header-home-page-container" 
        *ngIf="!isShortHeader "
        style="background-image: url('../../assets/images/mainPage.jpg')"
    >      

        <!-- logo container -->
        <div class="header-logo-container">
            <app-logo-slider></app-logo-slider>
        </div>
        

        <!-- slogan container -->
        <div class="header-slogan-container">
            <div class="header-slogan-container__text">Let's Make Things Better</div>
        </div>


        <!-- info container -->
        <div class="header-info-container">
            <app-info></app-info>
        </div>
    </div>

    <!-- information page -->
    <div 
        class="information-page-container"
        [ngClass]="{'information-page-container-with-short-header' : isShortHeader}">
        <app-information-page></app-information-page>
    </div>    
</div>



