

<div class="relative">
    
</div>


<!-- template manager page -->
<div 
    class="template-manager-container"
    *ngIf= "!isShowModal else toShowModal"
>

    <div
        class="template-manager"     
    >

        <!-- board control -->

        <section class="board-control-container">
            <div class="board-control">

                <!-- search input -->
                <div class="search-string-container">
                    <app-search-string 
                        class="search-string"
                        [delay]="1000"
                        [search]="search"
                        [isComplited]="isComplited"
                        (newCriteria)="filterBySearch($event)"
                    ></app-search-string>
                </div>

                <!-- action buttons -->
                <div class="flex-none flex my-auto space-x-2 pr-2">
                    
                    <!-- add button -->
                    <button 
                        class="btn-add"
                    >
                        <span class="btn-add-animate"></span>
                        <a 
                            routerLink="{{routers.NEW_TEMPLATE}}" 
                            class="_link"></a>
                    </button>

                    <!-- close button  -->
                    <button 
                        class="btn-close" 
                        (click)="close()"
                    >
                        <span class="btn-close-animate"></span>
                    </button>
                </div>
            </div>
        </section>
        
        <!-- list templates -->
        <div 
            class="list-templates"
            *ngIf="templates.length>0 else emptyTemplates"
        >      
            <div 
                class="w-full relative"        
                *ngFor="let template of templates let i=index"
            >
                <div 
                    class="item-list"
                >

                    
                    <!-- title template -->
                    <div 
                        class="item-title "
                                        
                    >
                        <div class="title">
                            {{template.title}}
                        </div>  

                        <!-- template details button-->
                        <button 
                            class="menu-container"
                            (click) = "menu.toggle()"
                        >
                            <div 
                                class="menu"
                                *ngIf="!menu.isOpened else toClose"
                            >
                                <div class="point"></div>
                                <div class="point"></div>
                                <div class="point"></div>
                            </div>   
                                               
                        </button>  
                        
                        <!-- template detail component -->
                        <app-template-item-detail                             
                            #menu
                            [template]="template"
                        >
                        </app-template-item-detail>    
                    </div>

                    <!-- apply button -->
                    <div class="item-control">
                        <button 
                            class="btn"                                             
                        >
                            apply
                            <a
                                routerLink="{{routers.TABLE}}" 
                                [state]="{template:template}" 
                                class="_link"
                            ></a>  
                        </button>                                              
                    </div>                     
                    
                
                </div>                        
            </div> 
             
        </div>
    </div>   
</div>

<!-- modal  -->
<ng-template #toShowModal>
    <app-warning-modal 

        *ngIf="isShowModal"
        [modalInfo]="modalInfo"
        (answer)="answerModal($event)"
    >

    </app-warning-modal>
</ng-template>

<ng-template #emptyTemplates>
   <div class="info-container">    
        Sorry, You don't have any templates yet!!!
   </div>
</ng-template>


<ng-template #toClose>
    <div class="close-btn-detail-container">
        <span class="close-btn"></span>
    </div>
</ng-template>

