.template-manager-container{      
    
    
    .template-manager{  
        @apply        
            h-full
            w-full
            flex flex-col;     
        

// board control container
        .board-control-container{
            @apply 
                z-50
                fixed right-0 top-service-title-short md:top-service-title
                w-full 
                py-2
                bg-white;

            .board-control{
                @apply
                    flex w-full h-full;

                .search-string-container{

                    @apply flex-1 flex my-auto;

                    .search-string{
                        @apply  
                            flex w-full px-2
                            md:w-3/4 md:pl-4
                            lg:pl-48;
                    }
                }
                .action-container{
                    @apply 
                        relative my-2 ml-auto;
                }
            }
        }


    
// buttons add and close containers 
            .btn-add,
            .btn-close{
                @apply 
                    relative 
                    rounded-full 
                    h-12 w-12                     
                    bg-blue-600
                    sm:bg-white
                    hover:bg-white;
 


                    // btn add animate btn close animate
                    .btn-close-animate::before,
                    .btn-close-animate::after,
                    .btn-add-animate::before,
                    .btn-add-animate::after{
                        @apply
                            absolute top-1/2 right-1/2  -mt-0.25 -mr-2.5
                            bg-white w-5 h-0.5
                            sm:bg-gray-500;
                    }
    
                    .btn-close-animate::before,
                    .btn-close-animate::after,
                    .btn-add-animate::before,
                    .btn-add-animate::after{
                        content: "";
                    }
    
                    .btn-add-animate::after{
                        @apply transform rotate-90 origin-center;
                    }

                    .btn-close-animate::before{
                        @apply transform rotate-45 origin-center;
                    }
    
                    .btn-close-animate::after{
                        @apply transform -rotate-45 origin-center;
                    } 
                    
                    
            }
    
            .btn-add:hover{
                .btn-add-animate::before,
                .btn-add-animate::after{
                    @apply bg-green-400;
                }
            }
            .btn-close:hover{
                .btn-close-animate::before,
                .btn-close-animate::after{
                    @apply bg-red-600;
                }
            }
    

// list templates
        .list-templates{
            
            @apply 
                flex-1
                space-y-2
                p-12 pb-48
                mt-16
                sm:w-2/3 
                md:w-4/5 md:px-24 
                lg:w-2/3 lg:max-w-screen-sm;

            .item-list{
                @apply 
                    relative
                    flex  space-x-2  
                    w-full;
                
// item title 
                .item-title{
                    @apply 
                        relative 
                        flex-1 flex
                        border-transparent
                        rounded-l-lg
                        px-4 py-2   
                                            
                        text-white;

                    .title-container{
                        @apply relative flex-1;

                        p{
                            @apply ml-4 line-clamp-1;
                        }

                        .image-container{
                            @apply absolute top-1/2 left-0 w-3 h-3;

                            margin-top: -7px;

                            .img{
                                @apply w-full;
                            }
                        }
                    }

                    .menu-container{
                        @apply flex-none flex w-6 h-6;

                        .menu{
                            @apply 
                                flex flex-col
                                m-auto
                                space-y-0.5;
                            

                            .point{
                                @apply 
                                    flex
                                    h-0.5 w-0.5
                                    rounded-full
                                    bg-white;                                
                            }
                        }

                        // .menu:hover{
                        //     @apply bg-blue-900 rounded-full;
                        // }
                    }  

                    .menu-container:hover{
                        @apply bg-blue-900 rounded-full;
                    }
                }

                .item-control{
                    @apply flex-none;
                    .btn{ 
                        @apply 
                            relative
                            px-4 py-2 
                            border-2 border-transparent
                            rounded-r-lg
                            bg-green-500
                            text-white
                            transform translate-x-0 duration-300
                            hover:bg-white hover:text-green-600 hover:border-green-700
                            hover:translate-x-1;           
                    }
                }   
            }
        }
    }   
}


.selected-item{
    @apply bg-blue-700;
}

.non-selected-item{
    @apply bg-blue-500;
}

.item-title-hover{
    @apply hover:bg-blue-200;
}


.info-container{
    @apply 
        w-full mt-24
        font-semibold text-center text-2xl text-blue-500;

}

.info-container-button{
    @apply 
        w-full flex justify-center mt-4;

    .button-container{
        @apply flex w-36 h-10;
    }
}

.close-btn-detail-container{
    @apply 
        relative
        flex w-6 h-6 
        border-2 border-transparent 
        bg-blue-900 
        rounded-full;

    .close-btn::after,
    .close-btn::before{
        @apply
            absolute top-1/2 right-1/2 
            -mt-0.25 -mr-1.5
            w-3 h-0.5
            bg-blue-200;
    }

    .close-btn::after,
    .close-btn::before{
        content: "";
    }

    .close-btn::after{
        @apply transform rotate-45 origin-center;
    }

    .close-btn::before{
        @apply transform -rotate-45 origin-center;
    }
}

.close-btn-detail-container:hover{

    .close-btn::after,
    .close-btn::before{
        @apply bg-white;
    }
}