

<!-- warning modal -->
<app-warning-modal
    *ngIf="isOpenModal"
    [modalInfo]="modal"
    (answer)="closeModal($event)"
>   
</app-warning-modal>

<!-- edit page -->
<div 
    class="edit-product-page" 
>
    <!-- loading page component -->
    <app-loading-page
        *ngIf="loadingOptions.isComplitedLoadingPage"
        [title]="'product info'"
    ></app-loading-page>

    <!-- close button -->
    <div class="btn-close-container">
        <button 
            class="btn-close" 
            (click)="close()"
        >
            <span class="btn-animate"></span>
        </button>
    </div>

    <!-- edit form -->
    <div 
        class="edit-form-container"
        *ngIf="!errorPage.isErrorPage"
    >    
        <!-- image container -->
        <div class="image-form-container">
            <div class="image-form">
                <img 
                    class="image" 
                    src="assets/images/logo_picture/tailwind_logo.png"
                > 
            </div>
        </div>

        <!-- title form -->
        <div class="header-form">
            <span>Product editing</span>
        </div>

        <!-- edit product form container -->
        
        <div class="edit-product-container">            
            <form
                class="form" 
                (ngSubmit)="onSubmit(); productForm.resetForm();"
                #productForm="ngForm" 
            >
                
                    <!-- title -->
                    <div>
                        <div>
                            <span 
                                class="warning-text"
                                *ngIf="titleProduct.touched && titleProduct.invalid else addedLabelTitle"
                            >
                                ⚠️title is incorrect
                            </span>
                        </div> 
                        <div>
                            <input 
                                class="_form-input"
                                [(ngModel)]="newProductForm.title"
                                name="title" 
                                type="text"
                                required                           
                                #titleProduct="ngModel"
                                (ngModelChange)="hasChanges()"
                            >
                        </div>
                    </div>

                    <!-- manufacturer -->
                    <div >
                        <div class="form-label-container">
                            <label class="_form-label">manufacturer</label>
                        </div>               
                        <div>
                            <select 
                                class="_form-select"
                                *ngIf="loadingOptions.isComplitedLoadingManufacturers else optionLoading"
                                [(ngModel)]=newProductForm.manufacturerId
                                name="manufacturers"  
                                (ngModelChange) = "hasChanges()"                              
                            >
                                <option
                                    *ngFor="let manufacturer of manufacturers" 
                                    [value]="manufacturer.id"
                                    name="manufacturer"              
                                >
                                    {{manufacturer.title}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <!-- category -->
                    <div >
                        <div class="form-label-container">
                            <label class="_form-label">category</label>
                        </div>               
                        <div>
                            <select 
                                class="_form-select"
                                *ngIf="loadingOptions.isComplitedLoadingCategories else optionLoading"
                                [(ngModel)]=newProductForm.categoryId
                                name="categories"
                                (ngModelChange) = "hasChanges()"   
                            >
                                <option
                                    *ngFor="let category of categories" 
                                    [value]="category.id"
                                    name="category"                   
                                >
                                    {{category.title}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <!-- unit -->
                    <div >
                        <div class="form-label-container">
                            <label class="_form-label">unit</label>
                        </div>               
                        <div>
                            <select 
                                class="_form-select"
                                *ngIf="loadingOptions.isComplitedLoadingUnits else optionLoading"
                                [(ngModel)]=newProductForm.unitId
                                name="units"
                                (ngModelChange) = "hasChanges()"   
                            >
                                <option
                                    class="option-container"
                                    *ngFor="let unit of units" 
                                    [value]="unit.id"
                                    name="unit"                   
                                >
                                    {{unit.title}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <!-- price -->
                    <div>
                        
                        <div>
                            <span 
                                class="warning-text"
                                *ngIf="priceProduct.touched && priceProduct.invalid || !isValidPrice else addedLabelPrice"
                            >
                                ⚠️price is incorrect
                            </span>
                        </div>  
                        <div>
                            <input 
                                class="_form-input" 
                                [(ngModel)]="newProductForm.price"
                                name="price" 
                                type="text"
                                required                             
                                #priceProduct="ngModel"
                                (ngModelChange) = "changedPrice()"
                            >
                        </div>
                                                    
                    </div>

                    <!-- submit button -->
                    <div class="btn-submit-container">
                        <button 
                            class="btn-submit"
                            type="submit"
                            [ngClass]="{'no-hover':productForm.invalid || !isValidPrice || !isChangedForm}"
                            [disabled]="productForm.invalid || !isValidPrice" 
                        >
                                <span 
                                    class="lock"
                                    *ngIf="productForm.invalid || !isValidPrice"
                                >
                                    🔓
                                </span>
                            save changes
                        </button>
                    </div>
                
            </form>            
        </div>
    </div>
    
    
</div>

<ng-template #addedLabelPrice>
    <div>
        <span class="_form-label pl-2">price</span>
    </div>    
</ng-template>

<ng-template #addedLabelTitle>
    <span class="_form-label pl-2">title</span>
</ng-template>




<ng-template #addedSpace>
    <br>
</ng-template>

<!-- <ng-template #errorPage>
    <app-responce500></app-responce500>
</ng-template> -->

<app-responce-manager
    *ngIf="errorPage.isErrorPage"
    [code]="errorPage.statusCode"
></app-responce-manager>

<ng-template #optionLoading>
    <app-select-loading></app-select-loading>
</ng-template>



