


<div class="edit-product-page">
    
    <!-- close button -->
    <div class="btn-close-container">
        <button 
            class="btn-close"                    
            (click)="closeEditPage()"
        >
            <span class="btn-animate"></span>
        </button>
    </div>


    <div class="edit-form-container">    
        <!-- image container -->
        <div class="image-form-container">
            <div class="image-form">
                <img 
                    class="image" 
                    src="assets/images/logo_picture/tailwind_logo.png"
                > 
            </div>
        </div>

        <!-- title form -->
        <div class="header-form">
            <span>Product editing</span>
        </div>

        <!-- edit product form container -->
        
        <div class="edit-product-container">            
            <form
                class="form" 
                (ngSubmit)="onSubmit(); productForm.resetForm();"
                #productForm="ngForm" 
            >
                
                    <!-- title -->
                    <div>
                        <div class="title-option">
                            <span 
                                class="warning-text"
                                *ngIf="titleProduct.touched && titleProduct.invalid else addedLabelTitle"
                            >
                                ⚠️title is incorrect
                            </span>
                        </div> 
                        <div>
                            <input 
                                class="input-form" 
                                [(ngModel)]="newProductForm.title"
                                name="title" 
                                type="text"
                                required                             
                                #titleProduct="ngModel"
                            >
                        </div>
                    </div>

                    <!-- manufacturer -->
                    <div >
                        <div class="title-option">
                            <label>manufacturer</label>
                        </div>               
                        <div>
                            <select 
                                class="select-container"
                                [(ngModel)]=newProductForm.manufacturerId
                                name="manufacturers"
                            >
                                <option
                                    class="option-container"
                                    *ngFor="let manufacturer of manufacturers" 
                                    [value]="manufacturer.id"
                                    name="manufacturer"                   
                                >
                                    {{manufacturer.title}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <!-- category -->
                    <div >
                        <div class="title-option">
                            <label>category</label>
                        </div>               
                        <div>
                            <select 
                                class="select-container"
                                [(ngModel)]=newProductForm.categoryId
                                name="categories"
                            >
                                <option
                                    class="option-container"
                                    *ngFor="let category of categories" 
                                    [value]="category.id"
                                    name="category"                   
                                >
                                    {{category.title}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <!-- unit -->
                    <div >
                        <div class="title-option">
                            <label>unit</label>
                        </div>               
                        <div>
                            <select 
                                class="select-container"
                                [(ngModel)]=newProductForm.unitId
                                name="units"
                            >
                                <option
                                    class="option-container"
                                    *ngFor="let unit of units" 
                                    [value]="unit.id"
                                    name="unit"                   
                                >
                                    {{unit.title}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <!-- price -->
                    <div>
                        
                        <div class="title-option">
                            <span 
                                class="warning-text"
                                *ngIf="priceProduct.touched && priceProduct.invalid || !isValidPrice else addedLabelPrice"
                            >
                                ⚠️price is incorrect
                            </span>
                        </div>  
                        <div>
                            <input 
                                class="input-form" 
                                [(ngModel)]="newProductForm.price"
                                name="price" 
                                type="text"
                                required                             
                                #priceProduct="ngModel"
                                (ngModelChange) = "changedPrice()"
                            >
                        </div>
                                                    
                    </div>

                    <!-- submit button -->
                    <div >
                        <button 
                            class="btn-submit"
                            type="submit"
                            [ngClass]="{'no-hover':productForm.invalid || !isValidPrice}"
                            [disabled]="productForm.invalid || !isValidPrice" 
                        >
                                <span 
                                    class="lock"
                                    *ngIf="productForm.invalid || !isValidPrice"
                                >
                                    🔓
                                </span>
                            save changes
                        </button>
                    </div>
                
            </form>            
        </div>
    </div>
    
    
</div>

<ng-template #addedLabelPrice>
    <span>price</span>
</ng-template>

<ng-template #addedLabelTitle>
    <span>title</span>
</ng-template>




<ng-template #addedSpace>
    <br>
</ng-template>


