<p>product-manager works!</p>

<div 
    class="product-manager-page"
    *ngIf="!isSelect else selectItem"
>
    <div 
        class="menu-item" 
        *ngIf="avaiablesPermissions.canRead"
        (click)="onSelect('getProducts')"
    >
        <div class="img-area">
            <img src="assets/images/storage.jpg">
        </div>
        <div class="title-area">
            storage
        </div>
    </div>
    <div
        class="menu-item" 
        *ngIf="avaiablesPermissions.canCreate"
        (click)="onSelect('addModule')"
    >
        <div class="img-area">
            <img src="assets/images/delivery_product.png">
        </div>
        <div class="title-area">
            delivery
        </div>

    </div>
    <div
        class="menu-item" 
        *ngIf="avaiablesPermissions.canMove"
        (click)="onSelect('moveProduct')"
    >
        <div class="img-area">
            <img src="assets/images/move_to_product.png">
        </div>
        <div class="title-area">
            move to
        </div>

    </div>
    
</div>



<!-- [productsInfo]="productsInfo" -->
<ng-template #selectItem>
    <div [ngSwitch]="modeProductPage">
        <app-move-product
            *ngSwitchCase="'moveProduct'"
            
        ></app-move-product>
        <app-products
            *ngSwitchCase="'getProducts'"
            [avaiablesPermissions]="avaiablesPermissions"
        ></app-products>
    </div>
    
    <!-- <div [ngSwitch]="modeProductPage">
        <app-users 
            *ngSwitchCase="'getUsers'"
            [userId]="userId"
            [permissions]="permissions"
        ></app-users>
        <app-work-modules
            *ngSwitchCase="'addModule'"
            
        ></app-work-modules>
    </div> -->
    
</ng-template>
