


<div *ngIf="pageState.isActive else toMoveNextPage">
  <table class="table">
      <tr>
        <th 
          class="header"
          *ngFor="let header of headersTable"
          (click)=sortCol(header.title)
          [ngClass]="{'active-header':isActiveHeader(header.isActive)}"
        >
          <span >
            {{header.title}}
          </span>
        </th>    
      </tr>
      <tr app-user-item 
          class="user-item"
          *ngFor="let userInfo of usersInfo let i=index"    
          [numUser]="i+1"
          [userInfo]="userInfo" 
          [avaiablePermissions]="avaiablesPermissions"
          (remove)="remove(userInfo.id)"
          (edit)="startEdit(userInfo)"
          (userInfoDialog) = "openUserInfo(userInfo)"          
      >  
      </tr>
  </table>
</div>




<ng-template #toMoveNextPage>
  <div [ngSwitch]='pageState.path'>
    <app-edit-user 
      *ngSwitchCase="'editUser'"
      [editUser]="editUser"
      (updateUser)="update($event)"
      (closeDialog)="closeDialog()"
    >
    </app-edit-user>
    <app-dialog-user-info
      *ngSwitchCase="'dialogUserInfo'"
      [userInfo]="editUser"
      (close)="closeDialog()"
    ></app-dialog-user-info>
    <app-loading-page
      *ngSwitchCase="'loadingPage'"
      [title]="'users'"
    >
    </app-loading-page> 
    <app-responce500
      *ngSwitchCase="'responce500'"
      
    >
    </app-responce500>
  </div>
  
</ng-template>

  