<!-- 




<div class="dialog-page">
    
  <div class="dialog" >
      <div class="btn-section">
          <button 
              class="btn"
              (click)="close()"
          >
              ❌
          </button>
      </div>
      
          
      
<div class="edit-user-page">
  <div class="edit-user-card">
    <div class="info-user">
      <div class="header">user info</div>
      <div class="info-user-row">
        <div class="title">username</div>
        <div class="value">{{editUser.username}}</div>
      </div>
      <div class="info-user-row">
        <div class="title">fullname</div>
        <div class="value">{{editUser.employee.lastname}} {{editUser.employee.firstname}}</div>
      </div>
    </div>
    <div class="info-user">
      <div class="header">avaiables user</div>
      <div class="add-role">
        <select 
          class="select-role"
          (change)="onSelectRole($event)"
        >
          <option
            [value]="" selected disabled
          >choise role</option>
          <option 
            *ngFor="let role of allRoles"
            [value]="role.title"
          >
            {{role.title}}
          </option>
        </select>
        
      </div>
      <div class="">        
        <form
          class=" "
          (ngSubmit)="onSubmit()"         

        >  
        <div class="max-h-48 overflow-auto">
          
        
          <div class="avaiables-user " *ngFor="let avaiable of avaiablesUser ; let j=index">
            <div class="role">
              <h1>{{avaiable.role.title}}</h1>
            </div>
            <div class="permission">
              <div  *ngFor="let permission of avaiable.permissions; let i=index">
                <input 
                  type="checkbox"
                  [(ngModel)]="permission.isSelected"
                  name="{{avaiable.role}}+{{i}}" 
                  [checked]="permission.isSelected"
                  
                >
                <label>{{permission.title}}</label>
                
              </div>
            </div>
            
            <div class="permission ">
              <div class="custom-control custom-radio" *ngFor="let access of avaiable.access; let i=index">
                <input 
                  class="custom-control-input"
                  type="radio"
                  [(ngModel)]="selectedAccess"
                  [value]="access.id"
                  name="access{{i}}{{avaiable.role}}"
                  [checked]=access.isSelected
                  
                >
                <label>{{access.title}} {{access.id}}</label>
                
              </div>
            </div>
            <div class="btn-remove-role">
              <button class="btn" type="button" (click)="removeRole(j)">❌</button>
            </div>        
          </div>
        </div>
          <div class="">
            <button class="btn-submit" type="submit">submit</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>
      
      
  </div>
  
</div> -->
<button 
    class="btn"
    (click)="closePage()"
>
    ❌
</button>
<div>
  <span>username</span>
</div>
<div>
  <span>{{editUser.username}}</span>
</div>
<div>
  <span>surname</span>
</div>
<div>
  <span>{{editUser.employee.lastname}}</span>
</div>
<div>
  <span>name</span>
</div>
<div>
  <span>{{editUser.employee.firstname}}</span>
</div>
<div>
  <span>Avaiables user</span>
  <button
    type="button"
    (click)=startAddAvaiables()
  >
    add avaiable
  </button>
</div>
<div *ngIf="isOpenCreateAvaiable">
  <form
    (ngButton)="saveNewAvaiable()"
    #newAvaiableForm="ngForm"
  >
    
    <button
      type="button"
      (click)="saveNewAvaiable();
      newAvaiableForm.resetForm()"
    >
      save
    </button>
    <div>
      <span>add role</span>
      <select 
          class="select-role"
          (change)="onSelectRole($event)"
          [(ngModel)]=newAvaiableUser.roleId
          name="role"
        >
          
          <option 
            *ngFor="let role of allRoles"
            [value]="role.id"
          >
            {{role.title}}
          </option>
        </select>
    </div>
    <div *ngFor="let permission of newAvaiableAction.permissions">
      
      <div>
        <input
          type="checkbox"
          [(ngModel)]="permission.isSelected"
          name="{{permission}}"
          [checked]="permission.isSelected"
        >
        <span>{{permission.title}}</span>
      </div>
    </div>
    <div 
      class="custom-control custom-radio"
      *ngFor="let access of allAccesses;let accIndex=index">
      
        <input
          class="custom-control-input"
          type="radio"
          [(ngModel)]="newAvaiableAction.accessId"
          [value]="access.id"
          name="access{{accIndex}}"
        >
      
      <span>{{access.title}}</span>
    </div>
  </form>
</div>
<form
  (ngSubmit)="onSubmit();"
  #editAvaiablesForm="ngForm" 
>
  
  <div *ngFor="let avaiable of avaiablesAction ; let avaiableIndex=index">
    <div>
      <button type="button" (click) = "removeAvaiable(avaiable.role.id)" >remove</button>
    </div>
    <div>
      <span>role</span>
    </div>
    <div>
      <span>{{avaiable.role.title}}</span>
    </div>
    <div *ngFor="let permission of avaiable.permissions; let i=index">
      <div>
        <input
          type="checkbox"
          [(ngModel)]="permission.isSelected"
          name="{{avaiable.role.title}}+{{i}}"
          [checked]="permission.isSelected"
        >
        <span>{{permission.title}}</span>
      </div>
    </div>
    <div 
      class="custom-control custom-radio"
      *ngFor="let access of allAccesses;let accIndex=index">
      
        <input
          class="custom-control-input"
          type="radio"
          [(ngModel)]="avaiable.accessId"
          [value]="access.id"
          name="access{{avaiableIndex}}"
        >
      
      <span>{{access.title}}</span>
    </div>
  </div>
  <button
    type="submit"
  >
    save changes
  </button>
</form>




