<!-- <div
    class="flex-none w-48 ml-16 sm:w-48 sm:ml-16 md:w-64 md:ml-24 lg:w-96 lg:ml-36"
    (click)="toMainPage()"
>
    <img 
        class="" 
        src="assets/images/logo_main_paige.png"
    >
</div> -->
 

<!-- <div class="main-image-container">
    <img class="next-image"
        src={{images[1]}}
    >
    <img class="image"
        src={{images[0]}}
    >
</div> -->

<!-- <div>
    <ul [simpleSlider]="{
        count:3,
        pause:2000,
        transition:450
    }">
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
</div> -->
<div>main page image</div>