<!-- <app-main-page></app-main-page> -->
<div class="app-container">

    <!-- mobile menu container-->
    <div class="mobile-menu-container">
        <app-mobile-menu #mobileMenu></app-mobile-menu>
    </div>

    
    <!-- nav menu container -->
    <div class="nav-menu-container">
        <app-nav-menu ></app-nav-menu>
    </div> 

    <!-- router container  -->
    <div 
        class="router-container"
        [ngClass]="{'router-container-shift' : mobileMenu.isOpened}">
        <div class="router">
            <router-outlet></router-outlet>
        </div>        
    </div>

    <!-- footer container -->
    <div 
        class="footer-container"      
        style="background-image: url('../../assets/images/mainPage.jpg')"    
    ></div>
</div>