<p>add-product works!</p>
<h1>storage:</h1>
<h1>{{currentStorage.title}}</h1>
<form
    class="form-add-product"
    (ngSubmit)="onSubmit()"         

>   <div class="form-group">
        <label>manufacturer</label>
        <select 
            class="form-group"
            [(ngModel)]="newProductForm.manufacturerId"            
            name="manufacturers"
        >

            <option 
                *ngFor="let manufacturer of manufacturers"
                [value]="manufacturer.id"
                name="manufacturerId"
            >
                {{manufacturer.title}}
            </option>
        </select>
        
    </div>
    <div class="form-group">
        <label>category</label>
        <select 
            class="form-group"
            [(ngModel)]="newProductForm.categoryId"
                
            name="category"
        >
            <option 
                *ngFor="let category of categories"
                [value]="category.id"
                name="categoryid"
            >
                {{category.title}}
            </option>
        </select>
        
    </div>
    <div class="form-group">
        <label>unit</label>
        <select 
            class="form-group"
            [(ngModel)]="newProductForm.unitId"
                
            name="unit"
        >
            <option 
                *ngFor="let unit of units"
                [value]="unit.id"
                name="unitId"
            >
                {{unit.title}}
            </option>
        </select>
        
    </div>
    <div class="form-group">
        <label>title</label>
        <input 
            class="form-group"
            type="text"
            [(ngModel)]="newProductForm.title"
            name="title" 
            
        >
        
    </div>
    <div class="form-group">
        <label>price</label>
        <input
            class="form-group"
            type="text"
            [(ngModel)]="newProductForm.price"
            name="price"
        >
        
    </div>
    <div class="form-group">
        <label>count</label>
        <input
            class="form-group"
            type="text"
            [(ngModel)]="newProductForm.count"
            name="productCount"
        >
        
    </div>
    <div class="form-group">
        <button 
            class="btn-submit" 
            type="submit"
        >create product</button>
    </div>
    
    
    
</form>