

<div class="form-page-container">
    <div class="form-page-container__close">
        <app-close-btn
            (responce)="close()"
        ></app-close-btn>
    </div>
    <div class="form-container">
        <div class="image-form-container">
            <div class="image-form">
                <img 
                    class="image" 
                    src="assets/images/logo_picture/tailwind_logo.png"
                > 
            </div>
        </div>
        <!-- title form -->
        <div class="header-form">
            <span>Create product : {{currentStorage.title}}</span>
        </div>

        
        <div class="form-cover">
            <form
                class="form"
                (ngSubmit)="onSubmit(); form.reset()"         
                #form = "ngForm"
            >  
                <div >
                    <div class="form-label-container">
                        <app-form-label
                            [title]="'title'"
                            [isValidState]="!(titleErrorMessage)"
                            [errorMessage]="titleErrorMessage"
                        ></app-form-label>
                    </div>
                    
                    <input
                        class="_form-input"
                        type="text"
                        [(ngModel)]="newProductForm.title"
                        name="title"
                        required          
                        inputValidator    
                        [regExp]="regExpStr.TITLE"
                        [regExpStart]="regExpStr.DECLINE_SPACE_AND_NUM"
                        [minLength]="3"
                        [maxLength]="20"
                        [regExpEnd]="regExpStr.DECLINE_TITLE_END"
                        (responce) = "validHandler($event,'title')"
                        
                    >
                </div>
                <div >
                    <div class="form-label-container">
                        <app-form-label
                            [title]="'manufacturer'"
                            [isValidState]="!(manufacturer.touched && !newProductForm.manufacturerId)"
                            [errorMessage]="formsMessage.NOTHING_SELECTED"
                        ></app-form-label>
                    </div>
                    
                    <select 
                        class="_form-select"
                        [(ngModel)]="newProductForm.manufacturerId"            
                        name="manufacturers"
                        #manufacturer = ngModel 
                        required
                    >

                        <option 
                            *ngFor="let manufacturer of manufacturers"
                            [value]="manufacturer.id"
                            name="manufacturerId"
                        >
                            {{manufacturer.title}}
                        </option>
                    </select>
                    
                </div>
                <div >
                    <div class="form-label-container">
                        <app-form-label
                            [title]="'category'"
                            [isValidState]="!(category.touched && !newProductForm.categoryId)"
                            [errorMessage]="formsMessage.NOTHING_SELECTED"
                        ></app-form-label>
                        
                    </div>
                    <select 
                        class="_form-select"
                        [(ngModel)]="newProductForm.categoryId"
                        #category = ngModel    
                        name="category"
                        required
                    >
                        <option 
                            *ngFor="let category of categories"
                            [value]="category.id"
                            name="categoryid"
                        >
                            {{category.title}}
                        </option>
                    </select>
                    
                </div>
                <div >
                    <div class="form-label-container">
                        <app-form-label
                            [title]="'unit'"
                            [isValidState]="!(unit.touched && !newProductForm.unitId)"
                            [errorMessage]="formsMessage.NOTHING_SELECTED"
                        ></app-form-label>
                       
                    </div>
                    <select 
                        class="_form-select"
                        [(ngModel)]="newProductForm.unitId"
                        #unit = ngModel
                        name="unit"
                        required
                    >
                        <option 
                            *ngFor="let unit of units"
                            [value]="unit.id"
                            name="unitId"
                        >
                            {{unit.title}}
                        </option>
                    </select>
                    
                </div>
                <div >
                    <div class="form-label-container">                        
                        <app-form-label
                            [title]="'price'"
                            [isValidState]="!(priceErrorMessage)"
                            [errorMessage]="priceErrorMessage"
                        ></app-form-label>
                        
                    </div>
                    
                    <input
                        class="_form-input"
                        type="text"  
                        placeholder="0"
                        [(ngModel)]="newProductForm.price"
                        name="price"
                        #price = ngModel
                        required
                        inputValidator        
                        [regExp]="regExpStr.ONLY_NUM"
                        [regExpStart]="regExpStr.DECLINE_ZERO"
                        [maxLength]="6"
                        [regExpDouble]="regExpStr.DOUBLE_SEPARATORS"
                        [maxLengthDouble]="2"
                        (responce)="validHandler($event,'price')"
                    >
                </div>
                <div >
                    <div class="form-label-container">
                        <app-form-label
                            [title]="'count'"
                            [isValidState]="!(countErrorMessage)"
                            [errorMessage]="countErrorMessage"
                        ></app-form-label>
                        
                    </div>
                    <input
                        class="_form-input"
                        type="text"
                        placeholder="0"
                        [(ngModel)]="newProductForm.count"
                        name="productCount"
                        required
                        inputValidator      
                        [regExp]="regExpStr.ONLY_NUM"
                        [maxLength]="4"
                        [regExpStart]="regExpStr.DECLINE_ZERO"                       
                        (responce)="validHandler($event,'count')"   
                               
                    >
                </div>
                <div class="flex justify-end">
                    <span 
                        class="warning-text font-bold"
                        *ngIf="form.invalid || !isValidForm"
                    >
                        {{formsMessage.FORM_VALIDATION_TITLE}}
                    </span>
                </div>
                <div class="btn-submit-container">
                    <button 
                        class="btn-submit"
                        [ngClass]="{'no-hover': form.invalid || !isValidForm}"
                        type="submit"
                        [disabled]="form.invalid || !isValidForm "
                    >
                        <span
                            class="lock"
                            *ngIf="form.invalid || !isValidForm"
                        >
                            🔓
                        </span>
                        create product
                    </button>
                </div>               
            </form> 
        </div>

    </div>
</div>
