<p>product-movements works!</p>
<div 
    class="flex flex-col h-full "
    *ngIf="pageState.isActive else toMoveNextPage"
>
    <form
        class="h-full"
        (ngSubmit)="onSubmit()"        
    > 
        <div>
            <span>from</span>
            <h1>{{currentStorage.title}}</h1>
        </div> 
        <select 
            [(ngModel)]=formMovedProducts.to
            name="to"
        >
            <option
                *ngFor="let storage of avaiableStorages" 
                [value]="storage.id"
                name="storageTo"                   
            >
                {{storage.title}}
            </option>
        </select>
        <button class="btn-submit" type="submit">submit</button>
        <div>
            <span>{{totalMoved}}</span>
        </div>
        <div class="flex flex-col h-4/5 ">
            <div class="flex overflow-auto">
                <table class="table relative w-full">
                    <thead>
                        <tr>
                            <th 
                                class="sticky top-0 px-6 py-3 text-red-900 bg-red-300 header"
                                *ngFor="let header of headersTable"
                                [ngClass]="{'active-header':header.isActive}"
                                (click)=sortCol(header)
                            >
                                <span >
                                {{header.title}}
                                </span>
                            </th>    
                        </tr>
                    </thead>
                    <tbody class="divide-y bg-red-100">
                        <tr app-product-item-movements
                            class="product-item"                    
                            *ngFor="let product of movedProductActions let i=index"
                            [numProduct]="i+1"
                            [productInfo]="product" 
                            (onCountMoved)="change()"
                        >  
                        </tr>
                    </tbody>
                </table>
            </div>
    
        </div>
        
    </form>
</div> 
 
<ng-template #toMoveNextPage>
    <div [ngSwitch]="pageState.path"
    class="h-full" >
       
      <app-loading-page
        *ngSwitchCase="'loadingPage'"
        [title]="'products for moving'"
      >
      </app-loading-page> 
      <app-responce500
        *ngSwitchCase="'responce500'"
        
      >
      </app-responce500>
    </div>
  </ng-template>
<!-- <div class="flex flex-col h-full ">
    <div class="flex overflow-auto">
        <table class="table relative w-full">
            <thead>
                <tr>
                    <th 
                        class="sticky top-0 px-6 py-3 text-red-900 bg-red-300 header"
                        *ngFor="let header of headersTable"
                        [ngClass]="{'active-header':header.isActive}"
                    >
                        <span >
                        {{header.title}}
                        </span>
                    </th>    
                </tr>
            </thead>
            <tbody class="divide-y bg-red-100">
                <tr app-product-item-movements
                    class="product-item"                    
                    *ngFor="let product of formMovedProducts.movedProducts let i=index"
                    [numProduct]="i+1"
                    [productInfo]="product" 
                    (onCountMoved)="change()"
                >  
                </tr>
            </tbody>
        </table>
    </div>

</div> -->
<!-- <div class="flex flex-col h-full ">
    <div class="flex overflow-auto">
        <table class="table relative w-full">
            <thead>
                <tr>
                    <th 
                        class="sticky top-0 px-6 py-3 text-red-900 bg-red-300 header"
                        *ngFor="let header of headersTable"
                        [ngClass]="{'active-header':header.isActive}"
                    >
                        <span >
                        {{header.title}}
                        </span>
                    </th>    
                </tr>
            </thead>
            <tbody class="divide-y bg-red-100">
                <tr app-product-item-movements
                    class="product-item"                    
                    *ngFor="let product of formMovedProducts.movedProducts let i=index"
                    [numProduct]="i+1"
                    [productInfo]="product" 
                    (onCountMoved)="change()"
                >  
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
 -->


<!-- <div class="flex overflow-auto">
    <table class="relative w-full border table">
      <thead>
        <tr>
          <th           
            class="sticky top-0 px-6 py-3 text-red-900 bg-red-300 header"
            *ngFor="let header of headersTable"
            (click)=sortCol(header.title)
            [ngClass]="{'active-header':header.isActive}"
          >
            
              {{header.title}}
            
          </th>    
          
        </tr>
      </thead>
      <tbody class="divide-y bg-red-100">
        <tr app-product-item 
        
        
        *ngFor="let productInfo of productsInfo let i=index"
        [ngClass]="{'product-item-warning':productInfo.isBanned}"
        [numProduct]="i+1"
        [productInfo]="productInfo" 
        [avaiablesPermissions]="avaiablesPermissions"
        (edit)="startEdit(productInfo)"
        (remove)="remove(productInfo)"        
        >  
        </tr>    
      </tbody>
    </table>
  </div> -->