
.avaiableUser{
    display: flex;
    border: 1px solid black;
    margin: 5px;
}

.roleInfo{
    // border: 1px solid black;
    width: 200px;
}

.permissions{
    // border: 1px solid black;
    width: 200px;
}