.block-page{
    @apply absolute top-0 right-0 h-screen w-full bg-gray-100 opacity-50; 
}

.login-form-container{
    @apply 
        w-full h-full
        flex 
        bg-blue-600 
        border-b-2 border-white
        shadow-2xl;

    .login-form{
        @apply 
            relative
            flex 
            mx-auto my-auto 
            flex-col
            space-y-8           
            rounded-md border-2 border-white
            py-12 px-12 
            bg-blue-300
            overflow-hidden;

        .sign-running{
            @apply 
                absolute
                top-0 -left-2/5 -ml-1
                h-1 w-2/5
                bg-blue-500
                rounded-md;

                animation-name: runningWay;
                animation-duration: 2000ms;
                animation-play-state: running;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
        }
        
        .login-form-image-container{
            @apply w-full flex ;

            .login-form-image{
                @apply w-44 flex mx-auto;
            }
        }

        
        .form-container{

            .form{
                @apply space-y-6 
                md:w-160;

                .input-container{
                    @apply rounded-md shadow-sm -space-y-px; 
                
                    .input-field{
                        @apply 
                            
                            relative w-full
                            px-3 py-2 my-2
                            rounded-md
                            placeholder-gray-500
                            text-gray-900 text-sm;                            
                    }
                }
            }            
        }
    }
}

@keyframes runningWay{
    0%{ transform: translateX(0)}
    25% {transform: translateX(150%)}
    50% {transform: translateX(300%)}
    75% {transform: translateX(450%);}
    100% {transform: translateX(600%);}
}

.template-loading-container{
    @apply flex space-x-3 my-auto;
}