<div class="tabs-page">

    <!-- list tabs -->
    <ul 
        class="list"
        *ngFor="let tab of tabs let i='index'"
    >
        <li class="item-list-container" >
            <div class="item-list" >

                <!-- title tab button -->
                <button class="btn-item-container">
                    <a 
                        class="link"
                        routerLink="{{tab.router}}" 
                        routerLinkActive="active-link"
                    >
                        <p>{{tab.title}} {{tab.additional}}</p>
                    </a>
                </button>

                <!-- remove button tab -->
                <div class="btn-reset-container">
                    <app-reset-button
                        class="w-full h-full"
                        (reset)="remove(tab.title)"
                    ></app-reset-button>
                </div>
            </div>
        </li>
    </ul>

    <!-- add tab button container -->
    <div 
        class="new-item-container"
        *ngIf="tabs.length>0"
    >
        <button 
            class="btn-item-container btn-new-item-container"                           
            routerLinkActive="add-link-active"
            [routerLinkActiveOptions]="{exact:true}"
        >
            <a 
                class="link"
                routerLink="/services"                 
            >
                
            </a>
            <span 
                class="plus-item"
            ></span>
        </button>
    </div>
</div>
