
<td 
    class="px-6 py-4 whitespace-no-wrap border-b border-gray-500"
    [ngClass]="{'warning':productInfo.isBanned}"
>
    {{numProduct}}
</td>
<td 
    class="px-6 py-4 whitespace-no-wrap border-b border-gray-500" 
    [ngClass]="{'warning':productInfo.isBanned}"
>
    {{productInfo.title}}
</td>
<td 
    class="px-6 py-4 whitespace-no-wrap border-b border-gray-500"
    [ngClass]="{'warning':productInfo.isBanned}"
>
    {{productInfo.manufacturer.title}}
</td>
<td 
    class="px-6 py-4 whitespace-no-wrap border-b border-gray-500" 
    [ngClass]="{'warning':productInfo.isBanned}"
>
    {{productInfo.category.title}}
</td>
<td 
    class="px-6 py-4 whitespace-no-wrap border-b border-gray-500"
    [ngClass]="{'warning':productInfo.isBanned}"
>
    {{productInfo.count}}
</td>
<td 
    class="px-6 py-4 whitespace-no-wrap border-b border-gray-500"
    [ngClass]="{'warning':productInfo.isBanned}"
>
    {{productInfo.unit.title}}
</td>
<td 
    class="px-6 py-4 whitespace-no-wrap border-b border-gray-500"
    [ngClass]="{'warning':productInfo.isBanned}"
    
>
    {{productInfo.price}}
</td>
<td 
    class="px-6 py-4 whitespace-no-wrap border-b border-gray-500"
    *ngIf="avaiablesPermissions.canUpdate"
    [ngClass]="{'warning':productInfo.isBanned}"   
>    
    <button 
        *ngIf="!productInfo.isBanned" 
        (click)="openProductItemInfo()"
    >👁️</button>   
</td>
<td 
    class="px-6 py-4 whitespace-no-wrap border-b border-gray-500"
    *ngIf="avaiablesPermissions.canUpdate"
    [ngClass]="{'warning':productInfo.isBanned}"   
>    
    <button 
        *ngIf="!productInfo.isBanned" 
        (click)="editProduct()"
    >✏️</button>   
</td>
<td 
    class="px-6 py-4 whitespace-no-wrap border-b border-gray-500"
    *ngIf="avaiablesPermissions.canDelete"
    [ngClass]="{'warning':productInfo.isBanned}"
>    
    <button 
        (click)="removeProduct()"
        *ngIf="!productInfo.isBanned else unLock"
    >❌</button>    
       
</td>

<ng-template #unLock>
    <button class="btn"  (click)="removeProduct()">🔓</button>
</ng-template>


<!-- <td class="flex-auto"  [ngClass]="{'warning':productInfo.isBanned}">
    {{numProduct}}
</td>
<td class="flex-auto"  [ngClass]="{'warning':productInfo.isBanned}">
    {{productInfo.title}}
</td>
<td class="flex-auto"  [ngClass]="{'warning':productInfo.isBanned}">
    {{productInfo.manufacturer}}
</td>
<td class="flex-auto"  [ngClass]="{'warning':productInfo.isBanned}">
    {{productInfo.category}}
</td>
<td class="flex-auto"  [ngClass]="{'warning':productInfo.isBanned}">
    {{productInfo.count}}
</td>
<td class="flex-auto"  [ngClass]="{'warning':productInfo.isBanned}">
    {{productInfo.unit}}
</td>
<td class="flex-auto"  [ngClass]="{'warning':productInfo.isBanned}">
    {{productInfo.price}}
</td>
<td 
    class=" action-btn"
    *ngIf="avaiablesPermissions.canUpdate"    
>    
    <button 
        class="btn"
        [ngClass]="{'warning':productInfo.isBanned}"
        *ngIf="!productInfo.isBanned" 
        (click)="editProduct()"
    >✏️</button>   
</td>
<td 
    class="action-btn"
    *ngIf="avaiablesPermissions.canDelete"
>    
    <button 
        class="btn"
        (click)="removeProduct()"
        *ngIf="!productInfo.isBanned else unLock"
    >❌</button>    
       
</td>

<ng-template #unLock>
    <button class="btn"  (click)="removeProduct()">🔓</button>
</ng-template> -->