<div class="nav-menu-container">
    <ul class="list-nav">

        <!-- Home -->
        <li>
            <button
                class="btn-item"
                [ngClass]="{'btn-item-active': activeNav==='/'}"
                (click)="changeModePage(pageSizes.LONG)"
            >
                <a routerLink="">Home</a>
            </button>
        </li>

        <!-- log in -->
        <li *ngIf="isLogin">
            <button
                class="btn-item"
                [ngClass]="{'btn-item-active' : activeNav==='/roleSelector'}"
                (click)="changeModePage(pageSizes.MIDDLE)"
            >
                <a routerLink="roleSelector">Services</a>
            </button>
        </li>
        <!-- resources -->
        <li><button class="btn-item">Resources</button></li>
        <!-- log out -->
        <li *ngIf="!isLogin else logout">
            <button
                class="btn-item"
                [ngClass]="{'btn-item-active' : activeNav==='/loginForm'}"
                (click)="changeModePage(pageSizes.MIDDLE)"
            >
                <a routerLink="loginForm">Log In</a>
            </button>
        </li>

        <!-- full screen button -->

        <!-- <li>
            <button class="item-btn" (click)="onFullScreen()">
                full screen
                <span class="item-btn-light-outside">
                    <span
                        class="item-btn-light-inside"
                        [ngClass]="isFullScreen ? 'item-btn-light-inside-on' : 'item-btn-light-inside-off'"
                    ></span>
                </span>
            </button>
        </li> -->
    </ul>
</div>

<ng-template #logout>
    <li>
        <button
            class="btn-item"
            (click)="toLogout()"
        >
            <a routerLink="">Log Out</a>
        </button>
    </li>
</ng-template>