
                


.nav-menu-page{

    @apply 
        
        w-full h-short-header
        flex-none flex justify-end 
        pr-5
        border-b-2 border-transparent
        md:h-header md:bg-none md:border-white;
}   
        
.nav-menu-container{
    @apply 
        flex h-full
        invisible
        md:visible;
}

// list nav
.list-nav{
    @apply 
        flex
        my-auto
        space-x-6;

// button nav
        .link{
            @apply 
                text-blue-200 
                hover:text-white;
        }         
}

.activeLink{
    @apply text-white;
}

.fixed-pos{
    @apply fixed top-0 left-0 z-40 ;
}