
<div 
    class="nav-menu-page "
    [ngClass]="{'fixed-pos' : isFixed}"
    style="background-image: url('../../assets/images/mainPage.jpg')"
>    
    <div class="nav-menu-container">
        <ul class="list-nav">

            <!-- Home -->
            <li class="link">
                <a
                    routerLink=""
                    routerLinkActive="activeLink"
                    [routerLinkActiveOptions]="{exact:true}"
                >Home</a>                
            </li>

            <!-- log in -->
            <li *ngIf="isLogin" class="link">
                <a
                    routerLink="services"
                    routerLinkActive="activeLink"
                >Services</a>                
            </li> 

            <!-- resources -->
            <li class="link">
                <a
                    routerLink="resources"
                    routerLinkActive="activeLink"
                >
                    Resources
                </a>                
            </li>

            <!-- about us -->
            <li class="link">
                <a
                    routerLink="aboutUs"
                    routerLinkActive="activeLink"
                >
                    About us
                </a>                
            </li>

            <!-- contacts -->
            <li class="link">
                <a
                    routerLink="contacts"
                    routerLinkActive="activeLink"
                >
                    Contacts
                </a>                
            </li>
            
            <!-- log out -->
            <li *ngIf="!isLogin else logout" class="link">
                <a
                    routerLink="login"
                    routerLinkActive="activeLink"
                >Log In</a>                
            </li>
        </ul>
    </div>
</div>


<ng-template #logout>
    <li>
        <button
            class="link"
            (click)="toLogout()"
        >
            <a routerLink="">Log Out</a>
        </button>
    </li>
</ng-template>